@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

$body-bg: #f8f9fa;
$body-color: #181818;
$enable-responsive-font-sizes: true;
$font-family-sans-serif: 'Josefin Sans', sans-serif;
$font-family-mono-space: 'Roboto Mono', monospace;

$theme-colors: (
  "primary": #ff6b00,
  "secondary": #565656,
  "dark": #000000,
);