<template>
	<b-container id="schools-container">
		<b-row class="my-5 p-md-5" align-content="center" align-h="center" align-v="center">
			<b-card bg-variant="white" text-variant="dark" class="shadow">
				<b-card-header header-bg-variant="white">
					<h1 class="text-left">
						<fa-icon :icon="['fas', 'school']"></fa-icon>
						Desagregacion de metas articulacion con la media
					</h1>
					<h3 class="text-center text-muted">
						<fa-icon :icon="['fas', 'calendar-alt']"></fa-icon>
						{{ validity.name }}
					</h3>
				</b-card-header>
				<b-card-body body-bg-variant="white">
					<b-card-title class="text-center">
						Desagregue las metas para articulacion con la media
					</b-card-title>
					<b-card-sub-title class="text-center">
						Siga los pasos correspondientes para desagregar las metas de articulacion con la media
					</b-card-sub-title>
					<b-container>
						<b-row align-content="center" align-h="center" align-v="center" class="my-3 py-2">
							<b-col>
								<b-card v-if="trainingCentersLength > 0" bg-variant="white" text-variant="dark" class="shadow">
									<b-card-header header-bg-variant="white">
										<h4 class="text-left font-weight-bold">
											1. Seleccione un centro de formacion
										</h4>
									</b-card-header>
									<b-card-body body-bg-variant="white">
										<b-container fluid>
											<b-row align-content="center" align-h="center" align-v="center" class="text-center">
												<b-col>
													<b-select v-model="trainingCenter" :disabled="trainingCentersLength <= 0" @change="fetchGoal()">
														<template v-slot:first>
															<b-form-select-option :value="null" disabled>
																Seleccione un centro de formacion
															</b-form-select-option>
														</template>
														<template v-for="(center, index) in trainingCenters">
															<b-select-option :key="`${index}center`" :value="center.id"> [{{ center.code }}] - {{ center.name }} </b-select-option>
														</template>
													</b-select>
												</b-col>
											</b-row>
										</b-container>
									</b-card-body>
								</b-card>
								<b-card v-else class="shadow">
									<b-card-header header-bg-variant="white">
										<h4 class="text-left font-weight-bold">
											No hay centros de formación disponibles
										</h4>
									</b-card-header>
									<b-card-body body-bg-variant="white">
										<b-container fluid>
											<b-row align-content="center" align-h="center" align-v="center" class="text-center">
												<b-col>
													<h5 class="text-center font-weight-bold">
														Actualmente no hay centros de formación que requieran desagregación de metas para esta vigencia.
													</h5>
												</b-col>
											</b-row>
										</b-container>
									</b-card-body>
								</b-card>
							</b-col>
						</b-row>
						<b-row align-content="center" align-h="center" align-v="center" class="my-3 py-2">
							<b-col>
								<b-card v-if="isGoalFetched" bg-variant="white" text-variant="dark" class="shadow">
									<b-card-header header-bg-variant="white">
										<h4 class="text-left font-weight-bold">
											2. Desagregue la meta del centro entre nuevos y pasan
										</h4>
									</b-card-header>
									<b-card-body body-bg-variant="white">
										<b-container fluid>
											<b-row align-content="center" align-h="center" align-v="center" class="my-2">
												<b-col class="text-center">
													<b-card-sub-title> Aprendices Disponibles {{ availableTotalApprentices }} </b-card-sub-title>
												</b-col>
												<b-col class="text-center">
													<b-card-sub-title> Cupos Disponibles {{ availableTotalPlaces }} </b-card-sub-title>
												</b-col>
											</b-row>
											<ValidationObserver ref="observer" #default="{handleSubmit, invalid}" slim>
												<b-form @submit.prevent="handleSubmit(submitDis)">
													<b-row align-content="center" align-h="center" align-v="center" class="text-center">
														<b-col class="text-center">
															<b-container fluid>
																<b-row align-content="center" align-h="center" align-v="center" class="text-center">
																	<b-col cols="12">
																		<b-container fluid>
																			<h5 class="text-center">
																				Desagregacion de Nuevos
																			</h5>
																			<b-row align-content="center" align-v="center">
																				<b-col>
																					<ValidationProvider
																						#default="{errors, valid}"
																						:rules="{
																							required: true,
																							integer: true,
																							min_value: 0,
																							max_value: centerGoal.apprentices,
																						}"
																						name="Total Aprendices nuevos"
																						slim
																					>
																						<b-form-group
																							label="Total Aprendices"
																							description="Total de aprendices nuevos"
																							label-for="total-new-apprentices-input"
																						>
																							<b-form-input
																								id="total-new-apprentices-input"
																								v-model="quotas.new.total.apprentices"
																								placeholder="Ej. 100"
																								:state="isValid(errors, valid)"
																								type="number"
																								@input="calculateAvailableTotalAp"
																							>
																							</b-form-input>
																							<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																						</b-form-group>
																					</ValidationProvider>
																				</b-col>

																				<b-col>
																					<ValidationProvider
																						#default="{errors, valid}"
																						:rules="{
																							required: true,
																							integer: true,
																							min_value: 0,
																							max_value: centerGoal.places,
																						}"
																						name="Total Cupos nuevos"
																						slim
																					>
																						<b-form-group
																							label="Total Cupos"
																							description="Total de cupos nuevos"
																							label-for="total-new-places-input"
																						>
																							<b-form-input
																								id="total-new-places-input"
																								v-model="quotas.new.total.places"
																								placeholder="Ej. 100"
																								:state="isValid(errors, valid)"
																								type="number"
																								@input="calculateAvailableTotalPl"
																							>
																							</b-form-input>
																							<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																						</b-form-group>
																					</ValidationProvider>
																				</b-col>
																			</b-row>
																			<b-row v-if="isTotalDisaggregated" align-content="center" align-v="center">
																				<b-col>
																					<h6 class="text-center">Disponibles: {{ available.new.apprentices }}</h6>
																					<ValidationProvider
																						#default="{errors, valid}"
																						:rules="{
																							required: true,
																							integer: true,
																							min_value: 0,
																							max_value: quotas.new.total.apprentices,
																						}"
																						name="Aprendices nuevos media academica"
																						slim
																					>
																						<b-form-group
																							label="Nuevos Aprendices media academica"
																							description="Total de aprendices nuevos para media academica"
																							label-for="academic-new-apprentices-input"
																						>
																							<b-form-input
																								id="academic-new-apprentices-input"
																								v-model="quotas.new.academic.apprentices"
																								placeholder="Ej. 100"
																								:state="isValid(errors, valid)"
																								type="number"
																								@input="calculateAvailableNewApprentices()"
																							>
																							</b-form-input>
																							<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																						</b-form-group>
																					</ValidationProvider>
																				</b-col>

																				<b-col>
																					<h6 class="text-center">Disponibles: {{ available.new.places }}</h6>
																					<ValidationProvider
																						#default="{errors, valid}"
																						:rules="{
																							required: true,
																							integer: true,
																							min_value: 0,
																							max_value: quotas.new.total.places,
																						}"
																						name="Cupos nuevos media academica"
																						slim
																					>
																						<b-form-group
																							label="Cupos Nuevos media academica"
																							description="Total de cupos nuevos para media academica"
																							label-for="academic-new-places-input"
																						>
																							<b-form-input
																								id="academic-new-places-input"
																								v-model="quotas.new.academic.places"
																								placeholder="Ej. 100"
																								:state="isValid(errors, valid)"
																								type="number"
																								@input="calculateAvailableNewPlaces()"
																							>
																							</b-form-input>
																							<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																						</b-form-group>
																					</ValidationProvider>
																				</b-col>
																			</b-row>
																			<b-row v-if="isTotalDisaggregated" align-content="center" align-v="center">
																				<b-col>
																					<h6 class="text-center">Disponibles: {{ available.new.apprentices }}</h6>
																					<ValidationProvider
																						#default="{errors, valid}"
																						:rules="{
																							required: true,
																							integer: true,
																							min_value: 0,
																							max_value: quotas.new.total.apprentices,
																						}"
																						name="Aprendices nuevos media tecnica"
																						slim
																					>
																						<b-form-group
																							label="Nuevos Aprendices media tecnica"
																							description="Total de aprendices nuevos para media tecnica"
																							label-for="technic-new-apprentices-input"
																						>
																							<b-form-input
																								id="technic-new-apprentices-input"
																								v-model="quotas.new.technic.apprentices"
																								placeholder="Ej. 100"
																								:state="isValid(errors, valid)"
																								type="number"
																								@input="calculateAvailableNewApprentices()"
																							>
																							</b-form-input>
																							<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																						</b-form-group>
																					</ValidationProvider>
																				</b-col>

																				<b-col>
																					<h6 class="text-center">Disponibles: {{ available.new.places }}</h6>
																					<ValidationProvider
																						#default="{errors, valid}"
																						:rules="{
																							required: true,
																							integer: true,
																							min_value: 0,
																							max_value: quotas.new.total.places,
																						}"
																						name="Cupos nuevos media tecnica"
																						slim
																					>
																						<b-form-group
																							label="Cupos Nuevos media tecnica"
																							description="Total de cupos nuevos para media tecnica"
																							label-for="technic-new-places-input"
																						>
																							<b-form-input
																								id="technic-new-places-input"
																								v-model="quotas.new.technic.places"
																								placeholder="Ej. 100"
																								:state="isValid(errors, valid)"
																								type="number"
																								@input="calculateAvailableNewPlaces()"
																							>
																							</b-form-input>
																							<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																						</b-form-group>
																					</ValidationProvider>
																				</b-col>
																			</b-row>
																			<b-row v-if="isTotalDisaggregated" align-content="center" align-v="center">
																				<b-col>
																					<h6 class="text-center">Disponibles: {{ available.new.apprentices }}</h6>
																					<ValidationProvider
																						#default="{errors, valid}"
																						:rules="{
																							required: true,
																							integer: true,
																							min_value: 0,
																							max_value: quotas.new.total.apprentices,
																						}"
																						name="Aprendices nuevos media privada"
																						slim
																					>
																						<b-form-group
																							label="Nuevos Aprendices media privada"
																							description="Total de aprendices nuevos para media privada"
																							label-for="private-new-apprentices-input"
																						>
																							<b-form-input
																								id="private-new-apprentices-input"
																								v-model="quotas.new.private.apprentices"
																								placeholder="Ej. 100"
																								:state="isValid(errors, valid)"
																								type="number"
																								@input="calculateAvailableNewApprentices()"
																							>
																							</b-form-input>
																							<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																						</b-form-group>
																					</ValidationProvider>
																				</b-col>

																				<b-col>
																					<h6 class="text-center">Disponibles: {{ available.new.places }}</h6>
																					<ValidationProvider
																						#default="{errors, valid}"
																						:rules="{
																							required: true,
																							integer: true,
																							min_value: 0,
																							max_value: quotas.new.total.places,
																						}"
																						name="Cupos nuevos media privada"
																						slim
																					>
																						<b-form-group
																							label="Cupos Nuevos media privada"
																							description="Total de cupos nuevos para media privada"
																							label-for="private-new-places-input"
																						>
																							<b-form-input
																								id="private-new-places-input"
																								v-model="quotas.new.private.places"
																								placeholder="Ej. 100"
																								:state="isValid(errors, valid)"
																								type="number"
																								@input="calculateAvailableNewPlaces()"
																							>
																							</b-form-input>
																							<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																						</b-form-group>
																					</ValidationProvider>
																				</b-col>
																			</b-row>
																		</b-container>
																	</b-col>
																</b-row>
															</b-container>
														</b-col>
														<b-col class="text-center">
															<b-container fluid>
																<b-row align-content="center" align-h="center" align-v="center" class="text-center">
																	<b-col cols="12">
																		<b-container fluid>
																			<h5 class="text-center">
																				Desagregacion de Pasan
																			</h5>
																			<b-row align-content="center" align-v="center">
																				<b-col>
																					<ValidationProvider
																						#default="{errors, valid}"
																						:rules="{
																							required: true,
																							integer: true,
																							min_value: 0,
																							max_value: centerGoal.apprentices,
																						}"
																						name="Total Aprendices que pasan"
																						slim
																					>
																						<b-form-group
																							label="Total Aprendices que pasan"
																							description="Total de aprendices que pasan"
																							label-for="total-pass-apprentices-input"
																						>
																							<b-form-input
																								id="total-pass-apprentices-input"
																								v-model="quotas.pass.total.apprentices"
																								placeholder="Ej. 100"
																								:state="isValid(errors, valid)"
																								type="number"
																								@input="calculateAvailableTotalAp"
																							>
																							</b-form-input>
																							<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																						</b-form-group>
																					</ValidationProvider>
																				</b-col>

																				<b-col>
																					<ValidationProvider
																						#default="{errors, valid}"
																						:rules="{
																							required: true,
																							integer: true,
																							min_value: 0,
																							max_value: centerGoal.places,
																						}"
																						name="Total Cupos que pasan"
																						slim
																					>
																						<b-form-group
																							label="Total Cupos"
																							description="Total de cupos que pasan"
																							label-for="total-pass-places-input"
																						>
																							<b-form-input
																								id="total-pass-places-input"
																								v-model="quotas.pass.total.places"
																								placeholder="Ej. 100"
																								:state="isValid(errors, valid)"
																								type="number"
																								@input="calculateAvailableTotalPl"
																							>
																							</b-form-input>
																							<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																						</b-form-group>
																					</ValidationProvider>
																				</b-col>
																			</b-row>
																			<b-row v-if="isTotalDisaggregated" align-content="center" align-v="center">
																				<b-col>
																					<h6 class="text-center">Disponibles: {{ available.pass.apprentices }}</h6>
																					<ValidationProvider
																						#default="{errors, valid}"
																						:rules="{
																							required: true,
																							integer: true,
																							min_value: 0,
																							max_value: quotas.pass.total.apprentices,
																						}"
																						name="Aprendices pasan media academica"
																						slim
																					>
																						<b-form-group
																							label="Aprendices que pasan media academica"
																							description="Total de aprendices que pasan para media academica"
																							label-for="academic-pass-apprentices-input"
																						>
																							<b-form-input
																								id="academic-pass-apprentices-input"
																								v-model="quotas.pass.academic.apprentices"
																								placeholder="Ej. 100"
																								:state="isValid(errors, valid)"
																								type="number"
																								@input="calculateAvailablePassApprentices()"
																							>
																							</b-form-input>
																							<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																						</b-form-group>
																					</ValidationProvider>
																				</b-col>

																				<b-col>
																					<h6 class="text-center">Disponibles: {{ available.pass.places }}</h6>
																					<ValidationProvider
																						#default="{errors, valid}"
																						:rules="{
																							required: true,
																							integer: true,
																							min_value: 0,
																							max_value: quotas.pass.total.places,
																						}"
																						name="Cupos que pasan media academica"
																						slim
																					>
																						<b-form-group
																							label="Cupos que pasan media academica"
																							description="Total de cupos que pasan para media academica"
																							label-for="academic-pass-places-input"
																						>
																							<b-form-input
																								id="academic-pass-places-input"
																								v-model="quotas.pass.academic.places"
																								placeholder="Ej. 100"
																								:state="isValid(errors, valid)"
																								type="number"
																								@input="calculateAvailablePassPlaces()"
																							>
																							</b-form-input>
																							<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																						</b-form-group>
																					</ValidationProvider>
																				</b-col>
																			</b-row>
																			<b-row v-if="isTotalDisaggregated" align-content="center" align-v="center">
																				<b-col>
																					<h6 class="text-center">Disponibles: {{ available.pass.apprentices }}</h6>
																					<ValidationProvider
																						#default="{errors, valid}"
																						:rules="{
																							required: true,
																							integer: true,
																							min_value: 0,
																							max_value: quotas.pass.total.apprentices,
																						}"
																						name="Aprendices pasan media tecnica"
																						slim
																					>
																						<b-form-group
																							label="Aprendices que pasan media tecnica"
																							description="Total de aprendices que pasan para media tecnica"
																							label-for="technic-pass-apprentices-input"
																						>
																							<b-form-input
																								id="technic-pass-apprentices-input"
																								v-model="quotas.pass.technic.apprentices"
																								placeholder="Ej. 100"
																								:state="isValid(errors, valid)"
																								type="number"
																								@input="calculateAvailablePassApprentices()"
																							>
																							</b-form-input>
																							<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																						</b-form-group>
																					</ValidationProvider>
																				</b-col>

																				<b-col>
																					<h6 class="text-center">Disponibles: {{ available.pass.places }}</h6>
																					<ValidationProvider
																						#default="{errors, valid}"
																						:rules="{
																							required: true,
																							integer: true,
																							min_value: 0,
																							max_value: quotas.pass.total.places,
																						}"
																						name="Cupos que pasan media tecnica"
																						slim
																					>
																						<b-form-group
																							label="Cupos que pasan media tecnica"
																							description="Total de cupos que pasan para media tecnica"
																							label-for="technic-pass-places-input"
																						>
																							<b-form-input
																								id="technic-pass-places-input"
																								v-model="quotas.pass.technic.places"
																								placeholder="Ej. 100"
																								:state="isValid(errors, valid)"
																								type="number"
																								@input="calculateAvailablePassPlaces()"
																							>
																							</b-form-input>
																							<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																						</b-form-group>
																					</ValidationProvider>
																				</b-col>
																			</b-row>
																			<b-row v-if="isTotalDisaggregated" align-content="center" align-v="center">
																				<b-col>
																					<h6 class="text-center">Disponibles: {{ available.pass.apprentices }}</h6>
																					<ValidationProvider
																						#default="{errors, valid}"
																						:rules="{
																							required: true,
																							integer: true,
																							min_value: 0,
																							max_value: quotas.pass.total.apprentices,
																						}"
																						name="Aprendices pasan media privada"
																						slim
																					>
																						<b-form-group
																							label="Aprendices que pasan media privada"
																							description="Total de aprendices que pasan para media privada"
																							label-for="private-pass-apprentices-input"
																						>
																							<b-form-input
																								id="private-pass-apprentices-input"
																								v-model="quotas.pass.private.apprentices"
																								placeholder="Ej. 100"
																								:state="isValid(errors, valid)"
																								type="number"
																								@input="calculateAvailablePassApprentices()"
																							>
																							</b-form-input>
																							<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																						</b-form-group>
																					</ValidationProvider>
																				</b-col>

																				<b-col>
																					<h6 class="text-center">Disponibles: {{ available.pass.places }}</h6>
																					<ValidationProvider
																						#default="{errors, valid}"
																						:rules="{
																							required: true,
																							integer: true,
																							min_value: 0,
																							max_value: quotas.pass.total.places,
																						}"
																						name="Cupos que pasan media privada"
																						slim
																					>
																						<b-form-group
																							label="Cupos que pasan media privada"
																							description="Total de cupos que pasan para media privada"
																							label-for="private-pass-places-input"
																						>
																							<b-form-input
																								id="private-pass-places-input"
																								v-model="quotas.pass.private.places"
																								placeholder="Ej. 100"
																								:state="isValid(errors, valid)"
																								type="number"
																								@input="calculateAvailablePassPlaces()"
																							>
																							</b-form-input>
																							<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																						</b-form-group>
																					</ValidationProvider>
																				</b-col>
																			</b-row>
																		</b-container>
																	</b-col>
																</b-row>
															</b-container>
														</b-col>
													</b-row>
													<b-row align-content="center" align-h="center" align-v="center" class="text-center">
														<b-col class="text-center">
															<b-button type="submit" variant="outline-success" :disabled="invalid || !isTotalValid">
																<fa-icon :icon="['fas', 'save']"></fa-icon>
																Guardar Desagregacion
															</b-button>
														</b-col>
													</b-row>
												</b-form>
											</ValidationObserver>
										</b-container>
									</b-card-body>
								</b-card>
							</b-col>
						</b-row>
					</b-container>
				</b-card-body>
			</b-card>
		</b-row>
	</b-container>
</template>
<script lang="ts">
interface ApiResponseObject extends Object {
	id: number;
}

interface Goal extends ApiResponseObject {
	apprentices: number;
	places: number;
	training_center_id: number;
}

interface Quota extends ApiResponseObject {
	apprentices_amount: number;
	places_amount: number;
	goal_id: number;
	training_center_id: number;
	quota_type_name: string;
}

interface TrainingCenter extends ApiResponseObject {
	name: string;
	code: string;
	state_id: number;
	regional_entity_id: number;
}

import Vue from 'vue';
import _ from 'lodash';
import Axios from '@/components/tools/axios';
import Swal from 'sweetalert2';
import { AxiosError } from 'axios';
import { isValid } from '@/components/tools/util/Functions';
import { ValidationObserver, ValidationProvider } from 'vee-validate';
import { mapState } from 'vuex';
export default Vue.extend({
	name: 'TechnicalDisaggregation',
	components: {
		ValidationObserver,
		ValidationProvider,
	},
	data: function() {
		return {
			centerGoal: {} as Goal,
			centerQuotas: [] as Quota[],
			available: {
				new: {
					apprentices: null as number | null,
					places: null as number | null,
				},
				pass: {
					apprentices: null as number | null,
					places: null as number | null,
				},
			},
			quotas: {
				new: {
					total: {
						apprentices: null as number | null,
						places: null as number | null,
					},
					academic: {
						apprentices: null as number | null,
						places: null as number | null,
					},
					technic: {
						apprentices: null as number | null,
						places: null as number | null,
					},
					private: {
						apprentices: null as number | null,
						places: null as number | null,
					},
				},
				pass: {
					total: {
						apprentices: null as number | null,
						places: null as number | null,
					},
					academic: {
						apprentices: null as number | null,
						places: null as number | null,
					},
					technic: {
						apprentices: null as number | null,
						places: null as number | null,
					},
					private: {
						apprentices: null as number | null,
						places: null as number | null,
					},
				},
			},
			trainingCenters: [] as TrainingCenter[],
			trainingCenter: null as unknown | number,
			availableTotalApprentices: 0 as number,
			availableTotalPlaces: 0 as number,
		};
	},
	computed: {
		...mapState(['validity']),
		trainingCentersLength: function(): number {
			return this.trainingCenters.length;
		},
		selectedTrainingCenter: function(): TrainingCenter | undefined {
			return _.find(this.trainingCenters, { id: this.trainingCenter as number });
		},
		isGoalFetched: function(): boolean {
			return !_.isEmpty(this.centerGoal);
		},
		centerQuotasLength: function(): number {
			return this.centerQuotas.length;
		},
		isTotalDisaggregated: function(): boolean {
			return this.availableTotalApprentices === 0 && this.availableTotalPlaces === 0;
		},
		isTotalValid: function(): boolean {
			return (
				this.isTotalDisaggregated &&
				this.available.new.apprentices === 0 &&
				this.available.new.places === 0 &&
				this.available.pass.apprentices === 0 &&
				this.available.pass.places === 0
			);
		},
	},
	watch: {
		'quotas.new.total.apprentices': function(value) {
			this.available.new.apprentices = +value >= 0 ? +value : 0;
		},
		'quotas.new.total.places': function(value) {
			this.available.new.places = +value >= 0 ? +value : 0;
		},
		'quotas.pass.total.apprentices': function(value) {
			this.available.pass.apprentices = +value >= 0 ? +value : 0;
		},
		'quotas.pass.total.places': function(value) {
			this.available.pass.places = +value >= 0 ? +value : 0;
		},
	},
	mounted: async function() {
		await this.fetchTrainingCenters();
	},
	methods: {
		isValid: function(errors: string[], valid: boolean | undefined) {
			return isValid(errors, valid);
		},
		fetchTrainingCenters: async function() {
			try {
				const { data } = await Axios.get('api/trainingCenter/technic');
				const { success, trainingCenters }: { success: boolean; trainingCenters: TrainingCenter[] } = data;
				if (success) {
					this.trainingCenters = _.toArray(trainingCenters).length > 0 ? _.toArray(trainingCenters) : [];
				} else {
					await Swal.fire({
						icon: 'error',
						title: 'Error !',
						text: 'No se pudieron obtener los centros de formacion, trate nuevamente',
						timer: 3500,
						timerProgressBar: true,
					});
					this.$router.push({ name: 'Home' });
				}
			} catch (error) {
				const requestException: AxiosError = error;
				if (requestException.response?.status)
					await Swal.fire({
						icon: 'error',
						title: 'Error',
						text: `Ocurrio un error inesperado con codigo ${requestException.response?.status}, trate nuevamente`,
						timerProgressBar: true,
						timer: 2500,
					});
				else console.error(error);
			}
		},
		fetchGoal: async function() {
			try {
				const { data } = await Axios.get(`api/goal/technical/${this.trainingCenter}/center`);
				const { success, goal }: { success: boolean; goal: Goal } = data;
				if (success) {
					this.centerGoal = goal;
					this.availableTotalApprentices = this.centerGoal.apprentices;
					this.availableTotalPlaces = this.centerGoal.places;
				} else {
					await Swal.fire({
						icon: 'error',
						title: 'Error !',
						text: 'No se pudo obtener la meta de este centro de formacion, trate nuevamente o seleccione otro',
						timer: 3500,
						timerProgressBar: true,
					});
				}
			} catch (error) {
				const requestException: AxiosError = error;
				if (requestException.response?.status)
					await Swal.fire({
						icon: 'error',
						title: 'Error',
						text: `Ocurrio un error inesperado con codigo ${requestException.response?.status}, trate nuevamente`,
						timerProgressBar: true,
						timer: 2500,
					});
				else console.error(error);
			}
		},
		submitDis: async function() {
			try {
				const result = await Swal.fire({
					icon: 'question',
					title: 'Guardar Resultados',
					text: 'Desea guardar estos datos?. Una vez guardados no podran ser modificados',
					showDenyButton: true,
					showCancelButton: false,
					confirmButtonText: `Si`,
					denyButtonText: `No`,
					confirmButtonColor: '#dc3545',
					denyButtonColor: '#007bff',
				});
				if (result.isConfirmed) {
					const { data } = await Axios.post(`api/goal/technical/${this.trainingCenter}/center/store`, { goal: this.centerGoal.id, centerQuotas: this.quotas });
					if (data.success) {
						await Swal.fire({
							icon: 'success',
							title: 'Exito !',
							text: 'Se guardo la desagregacion para el centro de formacion',
							timer: 3500,
							timerProgressBar: true,
						});
					} else {
						await Swal.fire({
							icon: 'error',
							title: 'Error !',
							text: 'No se pudo guardar la desagregacion, trate nuevamente',
							timer: 3500,
							timerProgressBar: true,
						});
					}
					this.$router.push({ name: 'Home' });
				}
			} catch (error) {
				const requestException: AxiosError = error;
				if (requestException.response?.status)
					await Swal.fire({
						icon: 'error',
						title: 'Error',
						text: `Ocurrio un error inesperado con codigo ${requestException.response?.status}, trate nuevamente`,
						timerProgressBar: true,
						timer: 2500,
					});
				else console.error(error);
			}
		},
		calculateAvailableTotalAp: function() {
			const apNew = this.quotas.new.total.apprentices !== null ? +this.quotas.new.total.apprentices : 0;
			const apPass = this.quotas.pass.total.apprentices !== null ? +this.quotas.pass.total.apprentices : 0;
			const sum = +apNew + +apPass;
			this.availableTotalApprentices = +this.centerGoal.apprentices - +sum;
		},

		calculateAvailableTotalPl: function() {
			const plNew = this.quotas.new.total.places !== null ? +this.quotas.new.total.places : 0;
			const plPass = this.quotas.pass.total.places !== null ? +this.quotas.pass.total.places : 0;
			const sum = +plNew + +plPass;
			this.availableTotalPlaces = +this.centerGoal.places - +sum;
		},
		calculateAvailableNewApprentices: function() {
			const newAcademic = this.quotas.new.academic.apprentices !== null ? +this.quotas.new.academic.apprentices : 0;
			const newTechnic = this.quotas.new.technic.apprentices !== null ? +this.quotas.new.technic.apprentices : 0;
			const newPrivate = this.quotas.new.private.apprentices !== null ? +this.quotas.new.private.apprentices : 0;
			const sumNew = +newAcademic + +newTechnic + +newPrivate;

			this.available.new.apprentices = (this.quotas.new.total.apprentices !== null ? +this.quotas.new.total.apprentices : 0) - sumNew;
		},
		calculateAvailableNewPlaces: function() {
			const newAcademic = this.quotas.new.academic.places !== null ? +this.quotas.new.academic.places : 0;
			const newTechnic = this.quotas.new.technic.places !== null ? +this.quotas.new.technic.places : 0;
			const newPrivate = this.quotas.new.private.places !== null ? +this.quotas.new.private.places : 0;
			const sumNew = +newAcademic + +newTechnic + +newPrivate;

			this.available.new.places = (this.quotas.new.total.places !== null ? +this.quotas.new.total.places : 0) - sumNew;
		},
		calculateAvailablePassApprentices: function() {
			const passAcademic = this.quotas.pass.academic.apprentices !== null ? +this.quotas.pass.academic.apprentices : 0;
			const passTechnic = this.quotas.pass.technic.apprentices !== null ? +this.quotas.pass.technic.apprentices : 0;
			const passPrivate = this.quotas.pass.private.apprentices !== null ? +this.quotas.pass.private.apprentices : 0;
			const sumPass = +passAcademic + +passTechnic + +passPrivate;

			this.available.pass.apprentices = (this.quotas.pass.total.apprentices !== null ? +this.quotas.pass.total.apprentices : 0) - sumPass;
		},
		calculateAvailablePassPlaces: function() {
			const passAcademic = this.quotas.pass.academic.places !== null ? +this.quotas.pass.academic.places : 0;
			const passTechnic = this.quotas.pass.technic.places !== null ? +this.quotas.pass.technic.places : 0;
			const passPrivate = this.quotas.pass.private.places !== null ? +this.quotas.pass.private.places : 0;
			const sumPass = +passAcademic + +passTechnic + +passPrivate;

			this.available.pass.places = (this.quotas.pass.total.places !== null ? +this.quotas.pass.total.places : 0) - sumPass;
		},
	},
});
</script>
