<template>
	<b-container id="populations-disaggregation">
		<b-row class="my-5 p-md-5" align-content="center" align-h="center" align-v="center">
			<b-col>
				<b-card bg-variant="white" text-variant="dark" class="shadow">
					<b-card-header header-bg-variant="white">
						<h1 class="text-left">
							<fa-icon :icon="['fas', 'users']"></fa-icon>
							Desagregación de poblaciones vulnerables
						</h1>
						<h3 class="text-center text-muted">
							<fa-icon :icon="['fas', 'calendar-alt']"></fa-icon>
							{{ validity.name }}
						</h3>
					</b-card-header>
					<b-card-body body-bg-variant="white">
						<b-card-title class="text-center">Desagregue poblaciones vulnerables</b-card-title>
						<b-card-sub-title class="text-center">
							Siga los pasos correspondientes para desagregar las poblaciones vulnerables
						</b-card-sub-title>
						<b-container id="disaggregate-populations-container">
							<b-row align-content="center" align-h="center" align-v="center" class="my-3 py-2">
								<b-col>
									<b-card v-if="!isCenterFillable" bg-variant="white" text-variant="dark" class="shadow">
										<b-card-header header-bg-variant="white">
											<h4 class="text-left font-weight-bold">
												1. Desagregue las poblaciones vulnerables de su regional
											</h4>
										</b-card-header>
										<b-card-body body-bg-variant="white">
											<b-card-title class="text-center">
												META REGIONAL TOTAL
											</b-card-title>
											<b-container v-if="isRegionalFillable" fluid>
												<ValidationObserver ref="observer" #default="{ handleSubmit, invalid }" slim>
													<b-form @submit.prevent="handleSubmit(submitRegionalQuota)">
														<template v-for="(population, index) in populations">
															<b-row :key="`pupulation${index}`" align-content="center" align-h="center" align-v="center" class="text-center">
																<b-col cols="12">
																	<h5 class="text-center">
																		{{ population.name }}
																	</h5>
																</b-col>

																<template v-if="isPredifined(population.name)">
																	<b-col>
																		<b-form-group
																			label="Aprendices"
																			:description="`Aprendices para ${population.name}`"
																			:label-for="`regional-goal-ap-population-${population.id}-input`"
																		>
																			<b-form-input
																				:id="`regional-goal-ap-population-${population.id}-input`"
																				v-model="populationsQuota.regional[population.id].apprentices"
																				readonly
																				type="number"
																			>
																			</b-form-input>
																		</b-form-group>
																	</b-col>
																	<b-col>
																		<b-form-group
																			label="Cupos"
																			:description="`Cupos para ${population.name}`"
																			:label-for="`regional-goal-pl-population-${population.id}-input`"
																		>
																			<b-form-input
																				:id="`regional-goal-pl-population-${population.id}-input`"
																				v-model="populationsQuota.regional[population.id].places"
																				readonly
																				type="number"
																			>
																			</b-form-input>
																		</b-form-group>
																	</b-col>
																</template>
																<template v-else>
																	<b-col>
																		<b-card-sub-title class="text-center">
																			Meta Aprendices disponible:
																			{{ totalRegionalApprenticesUsed }}
																		</b-card-sub-title>
																		<ValidationProvider
																			#default="{errors, valid}"
																			:rules="{
																				required: true,
																				integer: true,
																				min_value: 0,
																				max_value: totalRegionalApprentices,
																			}"
																			:name="`Aprendices para ${population.name}`"
																			slim
																		>
																			<b-form-group
																				label="Aprendices"
																				:description="`Aprendices para ${population.name}`"
																				:label-for="`regional-goal-ap-population-${population.id}-input`"
																			>
																				<b-form-input
																					:id="`regional-goal-ap-population-${population.id}-input`"
																					v-model="populationsQuota.regional[population.id].apprentices"
																					placeholder="Ej. 100"
																					:state="isValid(errors, valid)"
																					type="number"
																					@input="addUsedRegionalApprentices"
																				>
																				</b-form-input>
																				<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																			</b-form-group>
																		</ValidationProvider>
																	</b-col>
																	<b-col>
																		<b-card-sub-title class="text-center">
																			Meta Cupos disponible:
																			{{ totalRegionalPlacesUsed }}
																		</b-card-sub-title>
																		<ValidationProvider
																			#default="{errors, valid}"
																			:rules="{
																				required: true,
																				integer: true,
																				min_value: 0,
																				max_value: totalRegionalPlaces,
																			}"
																			:name="`Cupos para ${population.name}`"
																			slim
																		>
																			<b-form-group
																				label="Cupos"
																				:description="`Cupos para ${population.name}`"
																				:label-for="`regional-goal-pl-population-${population.id}-input`"
																			>
																				<b-form-input
																					:id="`regional-goal-pl-population-${population.id}-input`"
																					v-model="populationsQuota.regional[population.id].places"
																					placeholder="Ej. 100"
																					:state="isValid(errors, valid)"
																					type="number"
																					@input="addUsedRegionalPlaces"
																				>
																				</b-form-input>
																				<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																			</b-form-group>
																		</ValidationProvider>
																	</b-col>
																</template>
																<hr class="w-100" />
															</b-row>
														</template>
														<b-row align-content="center" align-v="center" align-h="center">
															<b-col class="text-center">
																<b-button
																	variant="outline-success"
																	type="submit"
																	:disabled="invalid || !isRegionalApprenticesValid || !isRegionalPlacesValid"
																	size="lg"
																>
																	<fa-icon :icon="['fas', 'save']"></fa-icon>
																	Guardar Metas
																</b-button>
															</b-col>
														</b-row>
													</b-form>
												</ValidationObserver>
											</b-container>
										</b-card-body>
									</b-card>
									<b-card v-else-if="trainingCenters.length > 0 && Object.keys(trainingCenter).length === 0" class="shadow">
										<b-card-header header-bg-variant="white">
											<h4 class="text-left font-weight-bold">
												2. Seleccione un centro de formacion
											</h4>
										</b-card-header>
										<b-card-body body-bg-variant="white">
											<b-container fluid>
												<b-row align-content="center" align-h="center" align-v="center" class="text-center">
													<b-col>
														<b-select v-model="trainingCenter" :disabled="trainingCenters.length <= 0" @change="fetchCenterGoals()">
															<template v-slot:first>
																<b-form-select-option :value="null" disabled>
																	Seleccione un centro de formacion
																</b-form-select-option>
															</template>
															<template v-for="(center, index) in trainingCenters">
																<b-select-option :key="`${index}center`" :value="center.id">
																	[{{ center.code }}]-{{ center.name }}
																</b-select-option>
															</template>
														</b-select>
													</b-col>
												</b-row>
											</b-container>
										</b-card-body>
									</b-card>
									<b-card v-else class="shadow">
										<b-card-header header-bg-variant="white">
											<h4 class="text-left font-weight-bold">
												No hay centros de formación disponibles
											</h4>
										</b-card-header>
										<b-card-body body-bg-variant="white">
											<b-container fluid>
												<b-row align-content="center" align-h="center" align-v="center" class="text-center">
													<b-col>
														<h5 class="text-center font-weight-bold">
															Actualmente no hay centros de formación que requieran desagregación de metas para esta vigencia.
														</h5>
													</b-col>
												</b-row>
											</b-container>
										</b-card-body>
									</b-card>
									<b-card v-if="centerGoals.length > 0" bg-variant="white" text-variant="dark" class="shadow">
										<b-card-header header-bg-variant="white">
											<h4 class="text-left font-weight-bold">
												3. Desagregue las poblaciones vulnerables para el centro
											</h4>
										</b-card-header>
										<b-card-body body-bg-variant="white">
											<b-container fluid>
												<ValidationObserver ref="observer" #default="{ handleSubmit, invalid }" slim>
													<b-form @submit.prevent="handleSubmit(submitCenterQuota)">
														<template v-for="(population, index) in populations">
															<b-row :key="`pupulation${index}`" align-content="center" align-h="center" align-v="center" class="text-center">
																<b-col cols="12">
																	<h5 class="text-center">
																		{{ population.name }}
																	</h5>
																</b-col>
																<b-col>
																	<h6 class="text-center">
																		Disponible :
																		{{ calculateCenterAvailable(population.id, 'apprentices') }}
																	</h6>
																	<ValidationProvider
																		#default="{errors, valid}"
																		:rules="{
																			required: true,
																			integer: true,
																			min_value: 0,
																			max_value: populationsAvailable.center[population.id].apprentices,
																		}"
																		:name="`Aprendices para ${population.name}`"
																		slim
																	>
																		<b-form-group
																			label="Aprendices"
																			:description="`Aprendices para ${population.name}`"
																			:label-for="`center-goal-ap-population-${population.id}-input`"
																		>
																			<b-form-input
																				:id="`center-goal-ap-population-${population.id}-input`"
																				v-model="populationsQuota.center[population.id].apprentices"
																				placeholder="Ej. 100"
																				:state="isValid(errors, valid)"
																				type="number"
																			>
																			</b-form-input>
																			<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																		</b-form-group>
																	</ValidationProvider>
																</b-col>
																<b-col>
																	<h6 class="text-center">
																		Disponible :
																		{{ calculateCenterAvailable(population.id, 'places') }}
																	</h6>
																	<ValidationProvider
																		#default="{errors, valid}"
																		:rules="{
																			required: true,
																			integer: true,
																			min_value: 0,
																			max_value: populationsAvailable.center[population.id].places,
																		}"
																		:name="`Cupos para ${population.name}`"
																		slim
																	>
																		<b-form-group
																			label="Cupos"
																			:description="`Cupos para ${population.name}`"
																			:label-for="`center-goal-pl-population-${population.id}-input`"
																		>
																			<b-form-input
																				:id="`center-goal-pl-population-${population.id}-input`"
																				v-model="populationsQuota.center[population.id].places"
																				placeholder="Ej. 100"
																				:state="isValid(errors, valid)"
																				type="number"
																			>
																			</b-form-input>
																			<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																		</b-form-group>
																	</ValidationProvider>
																</b-col>
																<hr class="w-100" />
															</b-row>
														</template>
														<b-row align-content="center" align-v="center" align-h="center">
															<b-col class="text-center">
																<b-button variant="outline-success" type="submit" :disabled="invalid" size="lg">
																	<fa-icon :icon="['fas', 'save']"></fa-icon>
																	Guardar Metas Centro
																</b-button>
															</b-col>
														</b-row>
													</b-form>
												</ValidationObserver>
											</b-container>
										</b-card-body>
									</b-card>
								</b-col>
							</b-row>
						</b-container>
					</b-card-body>
				</b-card>
			</b-col>
		</b-row>
	</b-container>
</template>
<script lang="ts">
import Vue from 'vue';
import Axios from '@/components/tools/axios';
import Swal from 'sweetalert2';
import _ from 'lodash';
import { AxiosError } from 'axios';
import { isValid } from '@/components/tools/util/Functions';
import { mapState } from 'vuex';
import { ValidationObserver, ValidationProvider } from 'vee-validate';

interface Goal extends Object {
	id: number;
	places: number;
	apprentices: number;
	goal_type_id: number;
	vulnerable_population_id: number | null;
	state_id: number;
}

interface BasicQuota extends Object {
	goal: number;
	population: number;
	places: number | null;
	apprentices: number | null;
}

interface Population extends Object {
	id: number;
	name: string;
}

interface Center extends Object {
	id: number;
	code: string;
	name: string;
}

export default Vue.extend({
	name: 'PopulationsDisaggregation',
	components: {
		ValidationObserver,
		ValidationProvider,
	},
	data: function() {
		return {
			populations: [] as Array<Population>,
			regionalGoals: [] as Array<Goal>,
			centerGoals: [] as Array<Goal>,
			populationsQuota: {
				regional: [] as Array<BasicQuota>,
				center: [] as Array<BasicQuota>,
			},
			populationsAvailable: {
				center: [] as Array<BasicQuota>,
			},
			trainingCenters: [] as Array<Center>,
			trainingCenter: 0,
			regionalQuotaLength: 0,
			centerQuotaLength: 0,
			sumRegionalApprentices: 0,
			sumRegionalPlaces: 0,
			isCenterFillable: false,
		};
	},
	computed: {
		...mapState(['validity', 'authRegional']),
		predifinedPopulations: function(): Array<Population> {
			const predifinedNames = ['Discapacitados', 'Negritudes', 'Afrocolombianos', 'Raizales', 'Palenqueros'];
			return _.filter(this.populations, population => {
				return _.indexOf(predifinedNames, population.name) >= 0;
			});
		},
		totalRegionalGoal: function(): Goal | undefined {
			// eslint-disable-next-line @typescript-eslint/camelcase
			return _.find(this.regionalGoals, { vulnerable_population_id: null });
		},
		totalRegionalApprentices: function(): number | false {
			return !_.isUndefined(this.totalRegionalGoal) ? this.totalRegionalGoal.apprentices : false;
		},
		totalRegionalPlaces: function(): number | false {
			return !_.isUndefined(this.totalRegionalGoal) ? this.totalRegionalGoal.places : false;
		},
		isRegionalFillable: function(): boolean {
			return this.regionalQuotaLength > 0;
		},
		totalRegionalApprenticesUsed: function(): number {
			return +this.totalRegionalApprentices - this.sumRegionalApprentices;
		},
		totalRegionalPlacesUsed: function(): number {
			return +this.totalRegionalPlaces - this.sumRegionalPlaces;
		},
		isRegionalApprenticesValid: function(): boolean {
			return this.totalRegionalApprenticesUsed === 0;
		},
		isRegionalPlacesValid: function(): boolean {
			return this.totalRegionalPlacesUsed === 0;
		},
	},
	watch: {
		totalRegionalApprenticesUsed: function(newused) {
			const except = _.map(this.predifinedPopulations, 'id');
			const toCalculate = _.filter(this.populationsQuota.regional, quota => !except.includes(quota.population));
			if (newused <= 0) {
				toCalculate.forEach(quota => {
					if (quota.apprentices === null) quota.apprentices = 0;
				});
			} else {
				toCalculate.forEach(quota => {
					if (quota.apprentices === 0) quota.apprentices = null;
				});
			}
		},
		totalRegionalPlacesUsed: function(newused) {
			const except = _.map(this.predifinedPopulations, 'id');
			const toCalculate = _.filter(this.populationsQuota.regional, quota => !except.includes(quota.population));
			if (newused <= 0) {
				toCalculate.forEach(quota => {
					if (quota.places === null) quota.places = 0;
				});
			} else {
				toCalculate.forEach(quota => {
					if (quota.places === 0) quota.places = null;
				});
			}
		},
	},
	mounted: async function() {
		await this.isRegionalDisaggregated();
		await this.fetchRegionalGoals();
	},
	methods: {
		isValid: function(errors: string[], valid: boolean | undefined) {
			return isValid(errors, valid);
		},
		toNumber: function(number: number | null) {
			return number !== null ? +number : 0;
		},
		isPredifined: function(name: string) {
			return !_.isUndefined(_.find(this.predifinedPopulations, { name: name }));
		},
		calculateCenterAvailable: function(id: number, target: 'places' | 'apprentices'): number {
			return this.toNumber(this.populationsAvailable.center[id][target]) - this.toNumber(this.populationsQuota.center[id][target]);
		},
		isRegionalDisaggregated: async function() {
			try {
				const { data } = await Axios.get(`api/goal/population/regional/isdis`);
				if (data.isdisaggregated) {
					await this.fetchCenters();
					this.isCenterFillable = true;
				}
			} catch (error) {
				const requestException: AxiosError = error;
				if (requestException.response?.status)
					await Swal.fire({
						icon: 'error',
						title: 'Error',
						text: `Ocurrio un error inesperado con codigo ${requestException.response?.status}, trate nuevamente`,
						timerProgressBar: true,
						timer: 2500,
					});
				else console.error(error);
			}
		},
		submitCenterQuota: async function() {
			try {
				const searched = _.find(this.trainingCenters, { id: this.trainingCenter });
				const trainingCenter = !_.isUndefined(searched) ? searched : { name: 'notfound' };
				const centerQuotas = this.populationsQuota.center;

				const result = await Swal.fire({
					icon: 'question',
					title: 'Guardar Resultados',
					text: 'Desea guardar estos datos?. Una vez guardados no podran ser modificados',
					showDenyButton: true,
					showCancelButton: false,
					confirmButtonText: `Si`,
					denyButtonText: `No`,
					confirmButtonColor: '#dc3545',
					denyButtonColor: '#007bff',
				});
				if (result.isConfirmed) {
					const { data } = await Axios.post('api/goal/population/center/store', {
						center: trainingCenter,
						centerQuotas: centerQuotas,
					});
					if (data.success) {
						await Swal.fire({
							icon: 'success',
							title: 'Exito',
							text: `Se guardaron las metas para el centro ${trainingCenter.name}`,
							timer: 3500,
							timerProgressBar: true,
						});
					} else {
						await Swal.fire({
							icon: 'warning',
							title: 'Error',
							text: 'No se pudieron guardar las metas del centro',
							timerProgressBar: true,
							timer: 2500,
						});
					}
				}
			} catch (error) {
				const requestException: AxiosError = error;
				if (requestException.response?.status)
					await Swal.fire({
						icon: 'error',
						title: 'Error',
						text: `Ocurrio un error inesperado con codigo ${requestException.response?.status}, trate nuevamente`,
						timerProgressBar: true,
						timer: 2500,
					});
				else console.error(error);
			}

			this.$router.push({ name: 'Home' });
		},
		submitRegionalQuota: async function() {
			try {
				const regionalGoals = this.populationsQuota.regional;
				const result = await Swal.fire({
					icon: 'question',
					title: 'Guardar Resultados',
					text: 'Desea guardar estos datos?',
					showDenyButton: true,
					showCancelButton: false,
					confirmButtonText: `Si`,
					denyButtonText: `No`,
					confirmButtonColor: '#dc3545',
					denyButtonColor: '#007bff',
				});
				if (result.isConfirmed) {
					const { data } = await Axios.post('api/goal/population/regional/store', {
						regionalGoals: regionalGoals,
					});
					if (data.success) {
						await Swal.fire({
							icon: 'success',
							title: 'Paso #1 Compleatado',
							text: 'Ha completado el primer paso, ahora desagregue las poblaciones por centros en el Paso #2',
							timer: 3500,
							timerProgressBar: true,
						});
						await this.fetchCenters();
						this.isCenterFillable = true;
					} else {
						await Swal.fire({
							icon: 'warning',
							title: 'Error',
							text: 'No se pudieron guardar las metas regionales',
							timerProgressBar: true,
							timer: 2500,
						});
					}
				}
			} catch (error) {
				const requestException: AxiosError = error;
				if (requestException.response?.status)
					await Swal.fire({
						icon: 'error',
						title: 'Error',
						text: `Ocurrio un error inesperado con codigo ${requestException.response?.status}, trate nuevamente`,
						timerProgressBar: true,
						timer: 2500,
					});
				else console.error(error);
			}
		},
		addUsedRegionalApprentices: function() {
			const except = _.map(this.predifinedPopulations, 'id');
			const toCalculate = _.filter(this.populationsQuota.regional, quota => !except.includes(quota.population));
			this.sumRegionalApprentices = _.sumBy(toCalculate, quota => {
				return quota.apprentices !== null ? +quota.apprentices : 0;
			});
		},
		addUsedRegionalPlaces: function() {
			const except = _.map(this.predifinedPopulations, 'id');
			const toCalculate = _.filter(this.populationsQuota.regional, quota => !except.includes(quota.population));
			this.sumRegionalPlaces = _.sumBy(toCalculate, quota => {
				return quota.places !== null ? +quota.places : 0;
			});
		},
		fetchCenters: async function() {
			try {
				const { data } = await Axios.get('api/trainingCenter/population');
				if (data.success) {
					this.trainingCenters = _.toArray(data.trainingCenters).length > 0 ? _.toArray(data.trainingCenters) : [];
				} else {
					await Swal.fire({
						icon: 'error',
						title: 'Error',
						text: 'No se pudieron obtener los centros de formacion, intente nuevamente',
						timer: 3500,
						timerProgressBar: true,
						allowOutsideClick: false,
					});
					this.$router.push({ name: 'Home' });
				}
			} catch (error) {
				const requestException: AxiosError = error;
				if (requestException.response?.status)
					await Swal.fire({
						icon: 'error',
						title: 'Error',
						text: `Ocurrio un error inesperado con codigo ${requestException.response?.status}, trate nuevamente`,
						timerProgressBar: true,
						timer: 2500,
					});
				else console.error(error);
			}
		},
		fetchRegionalGoals: async function() {
			try {
				const { data } = await Axios.get('api/goal/population/regional');
				if (data.success) {
					this.regionalGoals = data.regionalGoals;
					this.regionalGoals.forEach(goal => {
						goal['vulnerable_population_id'] = !_.isNull(goal['vulnerable_population_id']) ? +goal['vulnerable_population_id'] : null;
					});
					await this.fetchPopulations();
					this.populations.forEach(population => {
						// eslint-disable-next-line @typescript-eslint/camelcase
						const designatedGoal = _.find(this.regionalGoals, { vulnerable_population_id: population.id });
						this.populationsQuota.regional[0] = { goal: 0, population: 0, apprentices: 0, places: 0 };

						this.populationsQuota.regional[population.id] = {
							goal: !_.isUndefined(this.totalRegionalGoal) ? this.totalRegionalGoal.id : 0,
							population: population.id,
							apprentices: !_.isUndefined(designatedGoal) ? +designatedGoal.apprentices : null,
							places: !_.isUndefined(designatedGoal) ? +designatedGoal.places : null,
						};
					});
					this.regionalQuotaLength = this.populationsQuota.regional.length;
				} else {
					await Swal.fire({
						icon: 'error',
						title: 'Error',
						text: 'No se pudieron obtener las metas para la regional, intente nuevamente',
						timer: 3500,
						timerProgressBar: true,
						allowOutsideClick: false,
					});
					this.$router.push({ name: 'Home' });
				}
			} catch (error) {
				const requestException: AxiosError = error;
				if (requestException.response?.status)
					await Swal.fire({
						icon: 'error',
						title: 'Error',
						text: `Ocurrio un error inesperado con codigo ${requestException.response?.status}, trate nuevamente`,
						timerProgressBar: true,
						timer: 2500,
					});
				else console.error(error);
			}
		},
		fetchCenterGoals: async function() {
			try {
				const { data } = await Axios.get('api/goal/population/center');
				if (data.success) {
					this.centerGoals = data.centerGoals;
					this.centerGoals.forEach(goal => {
						// eslint-disable-next-line @typescript-eslint/camelcase
						goal.vulnerable_population_id = !_.isNull(goal.vulnerable_population_id) ? +goal.vulnerable_population_id : null;
					});
					this.populations.forEach(population => {
						// eslint-disable-next-line @typescript-eslint/camelcase
						const designatedGoal = _.find(this.centerGoals, { vulnerable_population_id: population.id });
						this.populationsQuota.center[0] = { goal: 0, population: 0, apprentices: 0, places: 0 };
						this.populationsAvailable.center[0] = { goal: 0, population: 0, apprentices: 0, places: 0 };

						this.populationsQuota.center[population.id] = {
							goal: !_.isUndefined(designatedGoal) ? designatedGoal.id : 0,
							population: population.id,
							apprentices: null,
							places: null,
						};

						this.populationsAvailable.center[population.id] = {
							goal: !_.isUndefined(designatedGoal) ? designatedGoal.id : 0,
							population: population.id,
							apprentices: !_.isUndefined(designatedGoal) ? designatedGoal?.apprentices : null,
							places: !_.isUndefined(designatedGoal) ? designatedGoal?.places : null,
						};
					});
					this.centerQuotaLength = this.populationsQuota.center.length;
				} else {
					await Swal.fire({
						icon: 'error',
						title: 'Error',
						text: 'No se pudieron obtener las metas centro, intente nuevamente',
						timer: 3500,
						timerProgressBar: true,
						allowOutsideClick: false,
					});
					this.$router.push({ name: 'Home' });
				}
			} catch (error) {
				const requestException: AxiosError = error;
				if (requestException.response?.status)
					await Swal.fire({
						icon: 'error',
						title: 'Error',
						text: `Ocurrio un error inesperado con codigo ${requestException.response?.status}, trate nuevamente`,
						timerProgressBar: true,
						timer: 2500,
					});
				else console.error(error);
			}
		},
		fetchPopulations: async function() {
			try {
				const { data } = await Axios.get('api/vulnerablePopulation/all');
				if (data.success) {
					this.populations = data.vulnerablePopulations;
				} else {
					await Swal.fire({
						icon: 'error',
						title: 'Error',
						text: 'No se pudieron obtener las poblaciones vulnerables, intente nuevamente',
						timer: 3500,
						timerProgressBar: true,
						allowOutsideClick: false,
					});
					this.$router.push({ name: 'Home' });
				}
			} catch (error) {
				const requestException: AxiosError = error;
				if (requestException.response?.status)
					await Swal.fire({
						icon: 'error',
						title: 'Error',
						text: `Ocurrio un error inesperado con codigo ${requestException.response?.status}, trate nuevamente`,
						timerProgressBar: true,
						timer: 2500,
					});
				else console.error(error);
			}
		},
	},
});
</script>
