<template>
	<b-container id="home-page">
		<b-row class="my-5 p-md-5" align-content="center" align-h="center" align-v="center">
			<b-col>
				<b-card bg-variant="white" text-variant="dark" class="shadow">
					<b-card-header header-bg-variant="white">
						<h1 class="text-left">
							<fa-icon :icon="['fas', 'file-export']"></fa-icon>
							Reportes
						</h1>
					</b-card-header>
					<b-card-body body-bg-variant="white">
						<b-card-title class="text-center">Descargue reportes</b-card-title>
						<b-container id="notification-container">
							<b-row align-content="center" align-h="center" align-v="center" class="my-3 py-2">
								<b-col>
									<b-alert variant="info" show>
										<h4 class="alert-heading">
											<fa-icon :icon="['fas', 'info']"></fa-icon>
											Reportes
										</h4>
										<hr />
										Tenga en cuenta que el reporte puede contener datos sin desagregar si se genera prematuramente Pero se puede descargar cuantas veces se
										necesite durante la vigencia
									</b-alert>
								</b-col>
							</b-row>
							<b-row align-content="center" align-h="center" align-v="center" class="my-3 py-2">
								<b-col>
									<b-alert variant="info" show>
										<h4 class="alert-heading">
											<fa-icon :icon="['fas', 'info']"></fa-icon>
											Tiempo de carga
										</h4>
										<hr />
										Tenga en cuenta que el reporte general tardara de entre 1 minuto a 10 minutos en generarse, se recomienda generarlo con anticipacion y no
										recargar o interrumpir la pagina mientras este realizando este proceso
									</b-alert>
								</b-col>
							</b-row>
							<b-row align-content="center" align-h="center" align-v="center" class="mt-4 mb-1 text-center">
								<b-col md="8">
									<b-button variant="primary" size="lg" :disabled="isLoading" class="py-3" block @click="downloadGeneral()">
										<h5 class="font-weight-bold mb-0">
											Descargar reporte
											<fa-icon :icon="['fas', 'file-download']"></fa-icon>
										</h5>
									</b-button>
								</b-col>
							</b-row>
						</b-container>
					</b-card-body>
				</b-card>
			</b-col>
		</b-row>
	</b-container>
</template>
<script lang="ts">
import Vue from 'vue';
import Axios from '@/components/tools/axios';
import JsDownload from 'js-file-download';
import Swal from 'sweetalert2';
import { AxiosError } from 'axios';
import { mapState } from 'vuex';
import _ from 'lodash';
export default Vue.extend({
	name: 'Export',
	computed: {
		...mapState(['isLoading']),
	},
	methods: {
		downloadGeneral: async function() {
			try {
				const { data } = await Axios.get('api/exports/quotas/all', { responseType: 'blob' });
				JsDownload(data, `ReporteGeneral_${_.now()}.xlsx`, 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet');
			} catch (error) {
				const requestException: AxiosError = error;
				if (requestException.response?.status)
					await Swal.fire({
						icon: 'error',
						title: 'Error',
						text: `Ocurrio un error inesperado con codigo ${requestException.response?.status}, trate nuevamente`,
						timerProgressBar: true,
						timer: 2500,
					});
				else console.error(error);
			}
		},
	},
});
</script>
