<template>
	<b-container id="home-page">
		<b-row class="my-5 p-md-5" align-content="center" align-h="center" align-v="center">
			<b-col>
				<b-card bg-variant="white" text-variant="dark" class="shadow">
					<b-card-header header-bg-variant="white">
						<h1 class="text-left">
							<fa-icon :icon="['fas', 'home']"></fa-icon>
							Inicio
						</h1>
						<h3 class="text-center text-muted">
							<fa-icon :icon="['fas', 'calendar-alt']"></fa-icon>
							{{ validity.name }}
						</h3>
					</b-card-header>
					<b-card-body body-bg-variant="white">
						<b-card-title class="text-center">Bienvenido, {{ authUser.name }}</b-card-title>
						<b-card-sub-title class="text-center">
							{{ authRole.display }}
							{{ authRole.name === 'reguser' ? `de ${authRegional.name.toLowerCase()} ` : '' }}
						</b-card-sub-title>
						<b-container id="notification-container">
							<b-row align-content="center" align-h="center" align-v="center" class="my-3 py-2">
								<b-col>
									<b-alert variant="info" show>
										<h4 class="alert-heading">
											<fa-icon :icon="['fas', 'info']"></fa-icon>
											Cambio de contraseña
										</h4>
										<hr />
										Recuerde realizar su cambio de contraseña si aun no lo ha hecho en el perfil, en el menu principal o dando
										<b-link class="font-weight-bold" :to="{ name: 'ChangePassword' }">
											clic aqui
										</b-link>
									</b-alert>
								</b-col>
							</b-row>
						</b-container>
					</b-card-body>
				</b-card>
			</b-col>
		</b-row>
	</b-container>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapState } from 'vuex';

export default Vue.extend({
	name: 'Home',
	computed: {
		...mapState(['authUser', 'authRole', 'authRegional', 'validity']),
	},
});
</script>
