<template>
	<b-container id="schools-container">
		<b-row class="my-5 p-md-5" align-content="center" align-h="center" align-v="center">
			<b-card bg-variant="white" text-variant="dark" class="shadow">
				<b-card-header header-bg-variant="white">
					<h1 class="text-left">
						<fa-icon :icon="['fas', 'graduation-cap']"></fa-icon>
						Desagregacion de metas formacion titulada
					</h1>
					<h3 class="text-center text-muted">
						<fa-icon :icon="['fas', 'calendar-alt']"></fa-icon>
						{{ validity.name }}
					</h3>
				</b-card-header>
				<b-card-body body-bg-variant="white">
					<b-card-title class="text-center">
						Desagregue las metas para formacion titulada
					</b-card-title>
					<b-card-sub-title class="text-center">
						Siga los pasos correspondientes para desagregar las metas de formacion titulada
					</b-card-sub-title>
					<b-container>
						<b-row align-content="center" align-h="center" align-v="center" class="my-3 py-2">
							<b-col>
								<b-card v-if="trainingCentersLength > 0" bg-variant="white" text-variant="dark" class="shadow">
									<b-card-header header-bg-variant="white">
										<h4 class="text-left font-weight-bold">
											1. Seleccione un centro de formacion
										</h4>
									</b-card-header>
									<b-card-body body-bg-variant="white">
										<b-container fluid>
											<b-row align-content="center" align-h="center" align-v="center" class="text-center">
												<b-col>
													<b-select v-model="trainingCenter" :disabled="trainingCentersLength <= 0" @change="fetchGoal()">
														<template v-slot:first>
															<b-form-select-option :value="null" disabled>
																Seleccione un centro de formacion
															</b-form-select-option>
														</template>
														<template v-for="(center, index) in trainingCenters">
															<b-select-option :key="`${index}center`" :value="center.id"> [{{ center.code }}] - {{ center.name }} </b-select-option>
														</template>
													</b-select>
												</b-col>
											</b-row>
										</b-container>
									</b-card-body>
								</b-card>
								<b-card v-else class="shadow">
									<b-card-header header-bg-variant="white">
										<h4 class="text-left font-weight-bold">
											No hay centros de formación disponibles
										</h4>
									</b-card-header>
									<b-card-body body-bg-variant="white">
										<b-container fluid>
											<b-row align-content="center" align-h="center" align-v="center" class="text-center">
												<b-col>
													<h5 class="text-center font-weight-bold">
														Actualmente no hay centros de formación que requieran desagregación de metas para esta vigencia.
													</h5>
												</b-col>
											</b-row>
										</b-container>
									</b-card-body>
								</b-card>
							</b-col>
						</b-row>
						<b-row align-content="center" align-h="center" align-v="center" class="my-3 py-2">
							<b-col>
								<b-card v-if="isGoalFetched" bg-variant="white" text-variant="dark" class="shadow">
									<b-card-header header-bg-variant="white">
										<h4 class="text-left font-weight-bold">
											2. Desagregue la meta del centro
										</h4>
									</b-card-header>
									<b-card-body body-bg-variant="white">
										<b-container fluid>
											<b-row align-content="center" align-h="center" align-v="center" class="my-2">
												<b-col class="text-center">
													<b-card-sub-title> Meta Cupos formacion titulada {{ centerGoal.places }} </b-card-sub-title>
												</b-col>
											</b-row>
											<ValidationObserver ref="observer" #default="{handleSubmit, invalid}" slim>
												<b-form @submit.prevent="handleSubmit(submitDis)">
													<b-row align-content="center" align-h="center" align-v="center" class="text-center">
														<b-col>
															<b-container fluid>
																<b-row align-content="center" align-h="center" align-v="center" class="text-center">
																	<b-col>
																		<ValidationProvider
																			#default="{errors, valid}"
																			:rules="{
																				required: true,
																				integer: true,
																				min_value: 0,
																				max_value: centerGoal.places,
																			}"
																			name="Cupos totales que pasan"
																			slim
																		>
																			<b-form-group
																				label="Cupos que pasan"
																				description="Total de cupos que pasan a la siguiente vigencia"
																				label-for="total-pass-places-input"
																			>
																				<b-form-input
																					id="total-pass-places-input"
																					v-model="quotas.pass.total.places"
																					placeholder="Ej. 100"
																					:state="isValid(errors, valid)"
																					type="number"
																				>
																				</b-form-input>
																				<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																			</b-form-group>
																		</ValidationProvider>
																	</b-col>
																	<b-col>
																		<ValidationProvider
																			#default="{errors, valid}"
																			:rules="{
																				required: true,
																				integer: true,
																				min_value: 0,
																				max_value: centerGoal.places,
																			}"
																			name="Cupos totales nuevos"
																			slim
																		>
																			<b-form-group
																				label="Cupos nuevos"
																				description="Total de cupos nuevos"
																				label-for="total-new-places-input"
																			>
																				<b-form-input
																					id="total-new-places-input"
																					v-model="quotas.new.total.places"
																					placeholder="Este campo se calcula automaticamente"
																					:state="isValid(errors, valid)"
																					type="number"
																					readonly
																				>
																				</b-form-input>
																				<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																			</b-form-group>
																		</ValidationProvider>
																	</b-col>
																</b-row>
																<b-row
																	v-if="quotas.pass.total.places !== null && quotas.pass.total.places > 0"
																	align-content="center"
																	align-h="center"
																	align-v="center"
																	class="text-center"
																>
																	<b-col>
																		<ValidationProvider
																			#default="{errors, valid}"
																			:rules="{
																				integer: true,
																				min_value: 0,
																				max_value: centerGoal.places,
																			}"
																			name="Inician Trimestre I"
																			slim
																		>
																			<b-form-group label="Cupos Inician Trimestre I" label-for="start-places-input">
																				<b-form-input
																					id="start-places-input"
																					v-model="quotas.start.ti.places"
																					placeholder="Este campo se calcula automaticamente"
																					:state="isValid(errors, valid)"
																					type="number"
																					readonly
																				>
																				</b-form-input>
																				<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																			</b-form-group>
																		</ValidationProvider>
																	</b-col>
																	<b-col>
																		<ValidationProvider
																			#default="{errors, valid}"
																			:rules="{
																				integer: true,
																				min_value: 0,
																				max_value: centerGoal.places,
																			}"
																			name="Inician Trimestre II"
																			slim
																		>
																			<b-form-group label="Cupos Inician Trimestre II" label-for="start-places-input-tii">
																				<b-form-input
																					id="start-places-input-tii"
																					v-model="quotas.start.tii.places"
																					placeholder="Este campo se calcula automaticamente"
																					:state="isValid(errors, valid)"
																					type="number"
																					readonly
																				>
																				</b-form-input>
																				<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																			</b-form-group>
																		</ValidationProvider>
																	</b-col>
																	<b-col>
																		<ValidationProvider
																			#default="{errors, valid}"
																			:rules="{
																				integer: true,
																				min_value: 0,
																				max_value: centerGoal.places,
																			}"
																			name="Inician Trimestre III"
																			slim
																		>
																			<b-form-group label="Cupos Inician Trimestre III" label-for="start-places-input-tiii">
																				<b-form-input
																					id="start-places-input-tiii"
																					v-model="quotas.start.tiii.places"
																					placeholder="Este campo se calcula automaticamente"
																					:state="isValid(errors, valid)"
																					type="number"
																					readonly
																				>
																				</b-form-input>
																				<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																			</b-form-group>
																		</ValidationProvider>
																	</b-col>
																	<b-col>
																		<ValidationProvider
																			#default="{errors, valid}"
																			:rules="{
																				integer: true,
																				min_value: 0,
																				max_value: centerGoal.places,
																			}"
																			name="Inician Trimestre IV"
																			slim
																		>
																			<b-form-group label="Cupos Inician Trimestre IV" label-for="start-places-input-tiv">
																				<b-form-input
																					id="start-places-input-tiv"
																					v-model="quotas.start.tiv.places"
																					placeholder="Este campo se calcula automaticamente"
																					:state="isValid(errors, valid)"
																					type="number"
																					readonly
																				>
																				</b-form-input>
																				<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																			</b-form-group>
																		</ValidationProvider>
																	</b-col>
																</b-row>
																<b-row
																	v-if="quotas.new.total.places !== null && quotas.new.total.places > 0"
																	align-content="center"
																	align-h="center"
																	align-v="center"
																	class="text-center"
																>
																	<b-col>
																		<ValidationProvider
																			#default="{errors, valid}"
																			:rules="{
																				required: true,
																				integer: true,
																				min_value: 0,
																				max_value: quotas.new.total.places,
																			}"
																			name="Cupos nuevos FIC"
																			slim
																		>
																			<b-form-group
																				label="Cupos nuevos FIC"
																				description="Total de cupos nuevos para FIC"
																				label-for="fic-new-places-input"
																			>
																				<b-form-input
																					id="fic-pass-places-input"
																					v-model="quotas.new.fic.places"
																					placeholder="Ej. 100"
																					:state="isValid(errors, valid)"
																					type="number"
																				>
																				</b-form-input>
																				<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																			</b-form-group>
																		</ValidationProvider>
																	</b-col>
																	<b-col>
																		<ValidationProvider
																			#default="{errors, valid}"
																			:rules="{
																				required: true,
																				integer: true,
																				min_value: 0,
																				max_value: quotas.new.total.places,
																			}"
																			name="Cupos nuevos Regular"
																			slim
																		>
																			<b-form-group
																				label="Cupos nuevos formacion regular"
																				description="Total de cupos nuevos para formacion regular"
																				label-for="regular-new-places-input"
																			>
																				<b-form-input
																					id="regular-new-places-input"
																					v-model="quotas.new.regular.places"
																					placeholder="Este campo se calcula automaticamente"
																					:state="isValid(errors, valid)"
																					type="number"
																					readonly
																				>
																				</b-form-input>
																				<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																			</b-form-group>
																		</ValidationProvider>
																	</b-col>
																</b-row>
																<b-row
																	v-if="quotas.new.fic.places !== null"
																	align-content="center"
																	align-h="center"
																	align-v="center"
																	class="text-center"
																>
																	<b-col cols="12">
																		<h5 class="text-center">
																			Cupos FIC
																		</h5>
																		<b-col cols="12" class="text-center">
																			<b-card-sub-title>
																				Tenga presente que la sumatoria de cupos nuevos por trimestre no debe exceder los cupos FIC
																				definidos:
																				{{ quotas.new.fic.places }}
																			</b-card-sub-title>
																		</b-col>
																	</b-col>
																	<b-col>
																		<ValidationProvider
																			#default="{errors, valid}"
																			:rules="{
																				required: true,
																				integer: true,
																				min_value: 0,
																				max_value: quotas.pass.total.places,
																			}"
																			name="Cupos pasan FIC"
																			slim
																		>
																			<b-form-group
																				label="Cupos pasan FIC"
																				description="Total de cupos que pasan para FIC"
																				label-for="fic-pass-places-input"
																			>
																				<b-form-input
																					id="fic-pass-places-input"
																					v-model="quotas.pass.fic.places"
																					placeholder="Ej. 100"
																					:state="isValid(errors, valid)"
																					type="number"
																				>
																				</b-form-input>
																				<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																			</b-form-group>
																		</ValidationProvider>
																	</b-col>
																	<b-col>
																		<ValidationProvider
																			#default="{errors, valid}"
																			:rules="{
																				required: true,
																				integer: true,
																				min_value: 0,
																				max_value: quotas.start.ti.places,
																			}"
																			name="Cupos nuevos FIC Trimestre I"
																			slim
																		>
																			<b-form-group
																				label="Cupos nuevos FIC Trimestre I"
																				description="Total de cupos nuevos FIC para el trimestre I "
																				label-for="fic-new-places-input-ti"
																			>
																				<b-form-input
																					id="fic-new-places-input-ti"
																					v-model="quotas.new.fic.ti.places"
																					placeholder="Ej. 100"
																					:state="isValid(errors, valid)"
																					type="number"
																				>
																				</b-form-input>
																				<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																			</b-form-group>
																		</ValidationProvider>
																	</b-col>
																	<b-col>
																		<ValidationProvider
																			#default="{errors, valid}"
																			:rules="{
																				required: true,
																				integer: true,
																				min_value: 0,
																				max_value: quotas.start.tii.places,
																			}"
																			name="Cupos nuevos FIC Trimestre II"
																			slim
																		>
																			<b-form-group
																				label="Cupos nuevos FIC Trimestre II"
																				description="Total de cupos nuevos FIC para el trimestre II "
																				label-for="fic-new-places-input-tii"
																			>
																				<b-form-input
																					id="fic-new-places-input-tii"
																					v-model="quotas.new.fic.tii.places"
																					placeholder="Ej. 100"
																					:state="isValid(errors, valid)"
																					type="number"
																				>
																				</b-form-input>
																				<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																			</b-form-group>
																		</ValidationProvider>
																	</b-col>
																	<b-col>
																		<ValidationProvider
																			#default="{errors, valid}"
																			:rules="{
																				required: true,
																				integer: true,
																				min_value: 0,
																				max_value: quotas.start.tiii.places,
																			}"
																			name="Cupos nuevos FIC Trimestre III"
																			slim
																		>
																			<b-form-group
																				label="Cupos nuevos FIC Trimestre III"
																				description="Total de cupos nuevos FIC para el trimestre III"
																				label-for="fic-new-places-input-tiii"
																			>
																				<b-form-input
																					id="fic-new-places-input-tiii"
																					v-model="quotas.new.fic.tiii.places"
																					placeholder="Ej. 100"
																					:state="isValid(errors, valid)"
																					type="number"
																				>
																				</b-form-input>
																				<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																			</b-form-group>
																		</ValidationProvider>
																	</b-col>
																	<b-col>
																		<ValidationProvider
																			#default="{errors, valid}"
																			:rules="{
																				required: true,
																				integer: true,
																				min_value: 0,
																				max_value: quotas.start.tiv.places,
																			}"
																			name="Cupos nuevos FIC Trimestre IV"
																			slim
																		>
																			<b-form-group
																				label="Cupos nuevos FIC Trimestre IV"
																				description="Total de cupos nuevos FIC para el trimestre IV"
																				label-for="fic-new-places-input-tiv"
																			>
																				<b-form-input
																					id="fic-new-places-input-tiv"
																					v-model="quotas.new.fic.tiv.places"
																					placeholder="Ej. 100"
																					:state="isValid(errors, valid)"
																					type="number"
																				>
																				</b-form-input>
																				<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																			</b-form-group>
																		</ValidationProvider>
																	</b-col>
																</b-row>
																<b-row v-if="isFicValid" align-content="center" align-h="center" align-v="center" class="text-center">
																	<b-col cols="12">
																		<h5 class="text-center">
																			Cupos Regular
																		</h5>
																	</b-col>
																	<b-col>
																		<ValidationProvider
																			#default="{errors, valid}"
																			:rules="{
																				required: true,
																				integer: true,
																				min_value: 0,
																				max_value: quotas.pass.total.places,
																			}"
																			name="Cupos pasan Regular"
																			slim
																		>
																			<b-form-group
																				label="Cupos pasan Regular"
																				description="Total de cupos que pasan para Formacion Regular"
																				label-for="regular-pass-places-input"
																			>
																				<b-form-input
																					id="regular-pass-places-input"
																					v-model="quotas.pass.regular.places"
																					placeholder="Este campo se calcula automaticamente"
																					:state="isValid(errors, valid)"
																					type="number"
																					readonly
																				>
																				</b-form-input>
																				<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																			</b-form-group>
																		</ValidationProvider>
																	</b-col>
																	<b-col>
																		<ValidationProvider
																			#default="{errors, valid}"
																			:rules="{
																				required: true,
																				integer: true,
																				min_value: 0,
																				max_value: quotas.start.ti.places,
																			}"
																			name="Cupos nuevos Regular Trimestre I"
																			slim
																		>
																			<b-form-group
																				label="Cupos nuevos Regular Trimestre I"
																				description="Total de cupos nuevos FIC para el trimestre I "
																				label-for="regular-new-places-input-ti"
																			>
																				<b-form-input
																					id="regular-new-places-input-ti"
																					v-model="quotas.new.regular.ti.places"
																					placeholder="Este campo se calcula automaticamente"
																					:state="isValid(errors, valid)"
																					type="number"
																					readonly
																				>
																				</b-form-input>
																				<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																			</b-form-group>
																		</ValidationProvider>
																	</b-col>
																	<b-col>
																		<ValidationProvider
																			#default="{errors, valid}"
																			:rules="{
																				required: true,
																				integer: true,
																				min_value: 0,
																				max_value: quotas.start.tii.places,
																			}"
																			name="Cupos nuevos Regular Trimestre II"
																			slim
																		>
																			<b-form-group
																				label="Cupos nuevos Regular Trimestre II"
																				description="Total de cupos nuevos Regular para el trimestre II "
																				label-for="regular-new-places-input-tii"
																			>
																				<b-form-input
																					id="regular-new-places-input-tii"
																					v-model="quotas.new.fic.tii.places"
																					placeholder="Este campo se calcula automaticamente"
																					:state="isValid(errors, valid)"
																					type="number"
																					readonly
																				>
																				</b-form-input>
																				<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																			</b-form-group>
																		</ValidationProvider>
																	</b-col>
																	<b-col>
																		<ValidationProvider
																			#default="{errors, valid}"
																			:rules="{
																				required: true,
																				integer: true,
																				min_value: 0,
																				max_value: quotas.start.tiii.places,
																			}"
																			name="Cupos nuevos Regular Trimestre III"
																			slim
																		>
																			<b-form-group
																				label="Cupos nuevos Regular Trimestre III"
																				description="Total de cupos nuevos Regular para el trimestre III"
																				label-for="regular-new-places-input-tiii"
																			>
																				<b-form-input
																					id="regular-new-places-input-tiii"
																					v-model="quotas.new.regular.tiii.places"
																					placeholder="Este campo se calcula automaticamente"
																					:state="isValid(errors, valid)"
																					type="number"
																					readonly
																				>
																				</b-form-input>
																				<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																			</b-form-group>
																		</ValidationProvider>
																	</b-col>
																	<b-col>
																		<ValidationProvider
																			#default="{errors, valid}"
																			:rules="{
																				required: true,
																				integer: true,
																				min_value: 0,
																				max_value: quotas.start.tiv.places,
																			}"
																			name="Cupos nuevos Regular Trimestre IV"
																			slim
																		>
																			<b-form-group
																				label="Cupos nuevos Regular Trimestre IV"
																				description="Total de cupos nuevos Regular para el trimestre IV"
																				label-for="regular-new-places-input-tiv"
																			>
																				<b-form-input
																					id="regular-new-places-input-tiv"
																					v-model="quotas.new.regular.tiv.places"
																					placeholder="Este campo se calcula automaticamente"
																					:state="isValid(errors, valid)"
																					type="number"
																					readonly
																				>
																				</b-form-input>
																				<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																			</b-form-group>
																		</ValidationProvider>
																	</b-col>
																</b-row>
															</b-container>
														</b-col>
													</b-row>
													<b-row align-content="center" align-h="center" align-v="center" class="text-center">
														<b-col class="text-center">
															<b-button type="submit" variant="outline-success" :disabled="invalid || !isFicValid">
																<fa-icon :icon="['fas', 'save']"></fa-icon>
																Guardar Desagregacion
															</b-button>
														</b-col>
													</b-row>
												</b-form>
											</ValidationObserver>
										</b-container>
									</b-card-body>
								</b-card>
							</b-col>
						</b-row>
					</b-container>
				</b-card-body>
			</b-card>
		</b-row>
	</b-container>
</template>
<script lang="ts">
interface ApiResponseObject extends Object {
	id: number;
}

interface Goal extends ApiResponseObject {
	apprentices: number;
	places: number;
	training_center_id: number;
}

interface Quota extends ApiResponseObject {
	apprentices_amount: number;
	places_amount: number;
	goal_id: number;
	training_center_id: number;
	quota_type_name: string;
}

interface TrainingCenter extends ApiResponseObject {
	name: string;
	code: string;
	state_id: number;
	regional_entity_id: number;
}

import Vue from 'vue';
import _ from 'lodash';
import Axios from '@/components/tools/axios';
import Swal from 'sweetalert2';
import { AxiosError } from 'axios';
import { isValid } from '@/components/tools/util/Functions';
import { ValidationObserver, ValidationProvider } from 'vee-validate';
import { mapState } from 'vuex';
export default Vue.extend({
	name: 'FormationDisaggregation',
	components: {
		ValidationObserver,
		ValidationProvider,
	},
	data: function() {
		return {
			centerGoal: {} as Goal,
			centerQuotas: [] as Quota[],
			quotas: {
				start: {
					ti: {
						places: null as number | null,
					},
					tii: {
						places: null as number | null,
					},
					tiii: {
						places: null as number | null,
					},
					tiv: {
						places: null as number | null,
					},
				},
				new: {
					total: {
						places: null as number | null,
					},
					fic: {
						places: null as number | null,
						ti: {
							places: null as number | null,
						},
						tii: {
							places: null as number | null,
						},
						tiii: {
							places: null as number | null,
						},
						tiv: {
							places: null as number | null,
						},
					},
					regular: {
						places: null as number | null,
						ti: {
							places: null as number | null,
						},
						tii: {
							places: null as number | null,
						},
						tiii: {
							places: null as number | null,
						},
						tiv: {
							places: null as number | null,
						},
					},
				},
				pass: {
					total: {
						places: null as number | null,
					},
					fic: {
						places: null as number | null,
					},
					regular: {
						places: null as number | null,
					},
				},
			},
			trainingCenters: [] as TrainingCenter[],
			trainingCenter: null as number | null,
		};
	},
	computed: {
		...mapState(['validity']),
		trainingCentersLength: function(): number {
			return this.trainingCenters.length;
		},
		selectedTrainingCenter: function(): TrainingCenter | undefined {
			return _.find(this.trainingCenters, { id: this.trainingCenter as number });
		},
		isGoalFetched: function(): boolean {
			return !_.isEmpty(this.centerGoal);
		},
		centerQuotasLength: function(): number {
			return this.centerQuotas.length;
		},
		sumTrimFIC: function(): number {
			return (
				(this.quotas.new.fic.ti.places !== null ? +this.quotas.new.fic.ti.places : 0) +
				(this.quotas.new.fic.tii.places !== null ? +this.quotas.new.fic.tii.places : 0) +
				(this.quotas.new.fic.tiii.places !== null ? +this.quotas.new.fic.tiii.places : 0) +
				(this.quotas.new.fic.tiv.places !== null ? +this.quotas.new.fic.tiv.places : 0) +
				(this.quotas.pass.fic.places !== null ? +this.quotas.pass.fic.places : 0)
			);
		},
		isFicValid: function(): boolean {
			return (this.quotas.new.fic.places !== null ? +this.quotas.new.fic.places : 0) === this.sumTrimFIC;
		},
	},
	watch: {
		'quotas.pass.total.places': function() {
			this.quotas.new.total.places = +this.centerGoal.places - (this.quotas.pass.total.places !== null ? +this.quotas.pass.total.places : 0);
			const amount = _.round(_.multiply(this.centerGoal.places, 0.7) - (this.quotas.pass.total.places !== null ? +this.quotas.pass.total.places : 0), 0);
			this.quotas.start.ti.places = amount >= 0 ? amount : 0;
		},
		'quotas.start.ti.places': function() {
			const amount = _.round(
				_.multiply(this.centerGoal.places, 0.8) -
					(this.quotas.start.ti.places !== null ? +this.quotas.start.ti.places : 0) -
					(this.quotas.pass.total.places !== null ? +this.quotas.pass.total.places : 0),
				0
			);
			this.quotas.start.tii.places = amount >= 0 ? amount : 0;
		},
		'quotas.start.tii.places': function() {
			const amount = _.round(
				_.multiply(this.centerGoal.places, 0.9) -
					(this.quotas.start.ti.places !== null ? +this.quotas.start.ti.places : 0) -
					(this.quotas.start.tii.places !== null ? +this.quotas.start.tii.places : 0) -
					(this.quotas.pass.total.places !== null ? +this.quotas.pass.total.places : 0),
				0
			);
			this.quotas.start.tiii.places = amount >= 0 ? amount : 0;
		},
		'quotas.start.tiii.places': function() {
			this.quotas.start.tiv.places =
				this.centerGoal.places -
				(this.quotas.start.ti.places !== null ? +this.quotas.start.ti.places : 0) -
				(this.quotas.start.tii.places !== null ? +this.quotas.start.tii.places : 0) -
				(this.quotas.pass.total.places !== null ? +this.quotas.pass.total.places : 0) -
				(this.quotas.start.tiii.places !== null ? +this.quotas.start.tiii.places : 0);
		},
		'quotas.new.fic.places': function() {
			this.quotas.new.regular.places =
				(this.quotas.new.total.places !== null ? +this.quotas.new.total.places : 0) - (this.quotas.new.fic.places !== null ? +this.quotas.new.fic.places : 0);
		},
		isFicValid: function(val) {
			if (val) {
				this.quotas.pass.regular.places =
					(this.quotas.pass.total.places !== null ? +this.quotas.pass.total.places : 0) - (this.quotas.pass.fic.places !== null ? +this.quotas.pass.fic.places : 0);
				this.quotas.new.regular.ti.places =
					(this.quotas.start.ti.places !== null ? +this.quotas.start.ti.places : 0) - (this.quotas.new.fic.ti.places !== null ? +this.quotas.new.fic.ti.places : 0);
				this.quotas.new.regular.tii.places =
					(this.quotas.start.tii.places !== null ? +this.quotas.start.tii.places : 0) - (this.quotas.new.fic.tii.places !== null ? +this.quotas.new.fic.tii.places : 0);
				this.quotas.new.regular.tiii.places =
					(this.quotas.start.tiii.places !== null ? +this.quotas.start.tiii.places : 0) -
					(this.quotas.new.fic.tiii.places !== null ? +this.quotas.new.fic.tiii.places : 0);
				this.quotas.new.regular.tiv.places =
					(this.quotas.start.tiv.places !== null ? +this.quotas.start.tiv.places : 0) - (this.quotas.new.fic.tiv.places !== null ? +this.quotas.new.fic.tiv.places : 0);
			}
		},
	},
	mounted: async function() {
		await this.fetchTrainingCenters();
	},
	methods: {
		isValid: function(errors: string[], valid: boolean | undefined) {
			return isValid(errors, valid);
		},
		fetchTrainingCenters: async function() {
			try {
				const { data } = await Axios.get('api/trainingCenter/formation');
				const { success, trainingCenters }: { success: boolean; trainingCenters: TrainingCenter[] } = data;
				if (success) {
					this.trainingCenters = _.toArray(trainingCenters).length > 0 ? _.toArray(trainingCenters) : [];
				} else {
					await Swal.fire({
						icon: 'error',
						title: 'Error !',
						text: 'No se pudieron obtener los centros de formacion, trate nuevamente',
						timer: 3500,
						timerProgressBar: true,
					});
					this.$router.push({ name: 'Home' });
				}
			} catch (error) {
				const requestException: AxiosError = error;
				if (requestException.response?.status)
					await Swal.fire({
						icon: 'error',
						title: 'Error',
						text: `Ocurrio un error inesperado con codigo ${requestException.response?.status}, trate nuevamente`,
						timerProgressBar: true,
						timer: 2500,
					});
				else console.error(error);
			}
		},
		fetchGoal: async function() {
			try {
				const { data } = await Axios.get(`api/goal/formation/${this.trainingCenter}/center`);
				const { success, goal }: { success: boolean; goal: Goal } = data;
				if (success) {
					this.centerGoal = goal;
				} else {
					await Swal.fire({
						icon: 'error',
						title: 'Error !',
						text: 'No se pudo obtener la meta de este centro de formacion, trate nuevamente o seleccione otro',
						timer: 3500,
						timerProgressBar: true,
					});
				}
			} catch (error) {
				const requestException: AxiosError = error;
				if (requestException.response?.status)
					await Swal.fire({
						icon: 'error',
						title: 'Error',
						text: `Ocurrio un error inesperado con codigo ${requestException.response?.status}, trate nuevamente`,
						timerProgressBar: true,
						timer: 2500,
					});
				else console.error(error);
			}
		},
		submitDis: async function() {
			try {
				const result = await Swal.fire({
					icon: 'question',
					title: 'Guardar Resultados',
					text: 'Desea guardar estos datos?. Una vez guardados no podran ser modificados',
					showDenyButton: true,
					showCancelButton: false,
					confirmButtonText: `Si`,
					denyButtonText: `No`,
					confirmButtonColor: '#dc3545',
					denyButtonColor: '#007bff',
				});
				if (result.isConfirmed) {
					const { data } = await Axios.post(`api/goal/formation/${this.trainingCenter}/center/store`, { goal: this.centerGoal.id, centerQuotas: this.quotas });
					if (data.success) {
						await Swal.fire({
							icon: 'success',
							title: 'Exito !',
							text: 'Se guardo la desagregacion para el centro',
							timer: 3500,
							timerProgressBar: true,
						});
					} else {
						await Swal.fire({
							icon: 'error',
							title: 'Error !',
							text: 'No se pudo guardar la desagregacion, trate nuevamente',
							timer: 3500,
							timerProgressBar: true,
						});
					}
					this.$router.push({ name: 'Home' });
				}
			} catch (error) {
				const requestException: AxiosError = error;
				if (requestException.response?.status)
					await Swal.fire({
						icon: 'error',
						title: 'Error',
						text: `Ocurrio un error inesperado con codigo ${requestException.response?.status}, trate nuevamente`,
						timerProgressBar: true,
						timer: 2500,
					});
				else console.error(error);
			}
		},
	},
});
</script>
