<template>
	<b-container id="schools-container">
		<b-row class="my-5 p-md-5" align-content="center" align-h="center" align-v="center">
			<b-card bg-variant="white" text-variant="dark" class="shadow">
				<b-card-header header-bg-variant="white">
					<h1 class="text-left">
						<fa-icon :icon="['fas', 'money-bill-wave']"></fa-icon>
						Asignacion de presupuestos
					</h1>
				</b-card-header>
				<b-card-body body-bg-variant="white">
					<b-card-title class="text-center">
						Asigne presupuestos para el centro de formacion
					</b-card-title>
					<b-container>
						<b-row align-content="center" align-h="center" align-v="center" class="my-3 py-2">
							<b-col>
								<b-card v-if="centersLength > 0" bg-variant="white" text-variant="dark" class="shadow">
									<b-card-header header-bg-variant="white">
										<h4 class="text-left font-weight-bold">
											1. Seleccione un centro de formacion
										</h4>
									</b-card-header>
									<b-card-body body-bg-variant="white">
										<b-container fluid>
											<b-row align-content="center" align-h="center" align-v="center" class="text-center">
												<b-col>
													<b-select v-model="selectedCenter" :disabled="centersLength <= 0">
														<template v-slot:first>
															<b-form-select-option :value="null" disabled>
																Seleccione un centro de formacion
															</b-form-select-option>
														</template>
														<template v-for="(center, index) in trainingCenters">
															<b-select-option :key="`${index}center`" :value="center.id"> [{{ center.code }}] - {{ center.name }} </b-select-option>
														</template>
													</b-select>
												</b-col>
											</b-row>
										</b-container>
									</b-card-body>
								</b-card>
							</b-col>
						</b-row>
						<b-row v-if="selectedCenter !== null" align-content="center" align-h="center" align-v="center" class="my-3 py-2">
							<b-col>
								<b-card v-if="centersLength > 0" bg-variant="white" text-variant="dark" class="shadow">
									<b-card-header header-bg-variant="white">
										<h4 class="text-left font-weight-bold">
											2. Asigne los presupuestos
										</h4>
									</b-card-header>
									<b-card-body body-bg-variant="white">
										<b-container fluid>
											<b-row align-content="center" align-h="center" align-v="center" class="text-center">
												<b-col>
													<b-container fluid>
														<ValidationObserver ref="observer" #default="{handleSubmit, invalid}" slim>
															<b-form @submit.prevent="handleSubmit(submitBud)">
																<template v-for="(kind, index) in kinds">
																	<b-row
																		:key="`${index}-${kind}`"
																		align-content="center"
																		align-h="center"
																		align-v="center"
																		class="text-center my-4"
																	>
																		<b-col cols="12">
																			<b-card bg-variant="white" text-variant="dark" class="shadow">
																				<b-card-header header-bg-variant="white">
																					<h5 class="text-left font-weight-bold">
																						Presupuestos Cupos {{ kind === 'new' ? 'Nuevos' : 'que Pasan' }}
																					</h5>
																				</b-card-header>
																				<b-card-body>
																					<b-container fluid>
																						<template v-for="(value, key, subindex) in types[kind]">
																							<b-row
																								:key="`field${value}-${subindex}`"
																								align-content="center"
																								align-h="center"
																								align-v="center"
																								class="text-center"
																							>
																								<b-col>
																									<ValidationProvider
																										#default="{errors, valid}"
																										:rules="{
																											required: true,
																											integer: true,
																											min_value: 0,
																										}"
																										:name="
																											`Presupuesto Cupos ${value} ${kind === 'new' ? 'Nuevos' : 'que Pasan'}`
																										"
																										slim
																									>
																										<b-form-group
																											:label="
																												`Presupuesto Cupos ${value} ${
																													kind === 'new' ? 'Nuevos' : 'que Pasan'
																												}`
																											"
																											:label-for="`total-${kind}-budget-${key}-input`"
																										>
																											<b-form-input
																												:id="`total-${kind}-budget-${key}-input`"
																												v-model="budget[kind][key]"
																												placeholder="Ej. 100"
																												:state="isValid(errors, valid)"
																												type="number"
																											>
																											</b-form-input>
																											<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
																										</b-form-group>
																									</ValidationProvider>
																								</b-col>
																							</b-row>
																						</template>
																					</b-container>
																				</b-card-body>
																			</b-card>
																		</b-col>
																	</b-row>
																</template>
																<b-row align-content="center" align-h="center" align-v="center" class="text-center">
																	<b-col class="text-center">
																		<b-button type="submit" variant="outline-success" :disabled="invalid">
																			<fa-icon :icon="['fas', 'save']"></fa-icon>
																			Guardar Presupuestacion
																		</b-button>
																	</b-col>
																</b-row>
															</b-form>
														</ValidationObserver>
													</b-container>
												</b-col>
											</b-row>
										</b-container>
									</b-card-body>
								</b-card>
							</b-col>
						</b-row>
					</b-container>
				</b-card-body>
			</b-card>
		</b-row>
	</b-container>
</template>
<script lang="ts">
interface Center extends Object {
	id: number;
	code: string;
	name: string;
}

interface Budget extends Object {
	id: number;
	requested_amount: number;
	validity_id: number;
	training_center_id: number;
	budget_type_id: number;
}

import Vue from 'vue';
import Axios from '@/components/tools/axios';
import Swal from 'sweetalert2';
import { AxiosError } from 'axios';
import { isValid } from '@/components/tools/util/Functions';
import { ValidationObserver, ValidationProvider } from 'vee-validate';
export default Vue.extend({
	name: 'AssignBudgets',
	components: { ValidationObserver, ValidationProvider },
	data: function() {
		return {
			trainingCenters: [] as Center[],
			selectedCenter: null as null | number,
			budget: {
				new: {
					regular: null as number | null,
					fic: null as number | null,
					technic: null as number | null,
					displaced: null as number | null,
					ruralYouth: null as number | null,
				},
				pass: {
					regular: null as number | null,
					fic: null as number | null,
					technic: null as number | null,
				},
			},
			kinds: ['new', 'pass'],
			types: {
				new: {
					regular: 'Formacion Regular',
					fic: 'Formacion Fic',
					technic: 'Articulacion con la Media',
					ruralYouth: 'Jovenes Rurales',
					displaced: 'Desplazados',
				},
				pass: { regular: 'Formacion Regular', fic: 'Formacion Fic', technic: 'Articulacion con la Media' },
			},
		};
	},
	computed: {
		centersLength: function(): number {
			return this.trainingCenters.length;
		},
	},
	mounted: async function() {
		await this.fetchTrainingCenters();
	},
	methods: {
		isValid: function(errors: string[], valid: boolean | undefined) {
			return isValid(errors, valid);
		},
		submitBud: async function() {
			try {
				const { data } = await Axios.post(`api/budget/${this.selectedCenter}/store`, this.budget);
				const { success }: { success: boolean } = data;
				if (success) {
					await Swal.fire({
						icon: 'success',
						title: 'Exito !',
						text: 'Se guardo la presupuestacion para el centro de formacion',
						timer: 3500,
						timerProgressBar: true,
					});
					this.$router.push({ name: 'Home' });
				} else {
					await Swal.fire({
						icon: 'error',
						title: 'Error !',
						text: 'No se pudo guardar la solicitud presupuestal, trate nuevamente',
						timer: 3500,
						timerProgressBar: true,
					});
					this.$router.push({ name: 'Home' });
				}
			} catch (error) {
				const requestException: AxiosError = error;
				if (requestException.response?.status)
					await Swal.fire({
						icon: 'error',
						title: 'Error',
						text: `Ocurrio un error inesperado con codigo ${requestException.response?.status}, trate nuevamente`,
						timerProgressBar: true,
						timer: 2500,
					});
				else console.error(error);
			}

			// this.$router.push({ name: 'Home' });
		},
		fetchTrainingCenters: async function() {
			try {
				const { data } = await Axios.get('api/trainingCenter/all');
				const { success, trainingCenters }: { success: boolean; trainingCenters: Center[] } = data;
				if (success) {
					this.trainingCenters = trainingCenters;
				} else {
					await Swal.fire({
						icon: 'error',
						title: 'Error !',
						text: 'No se pudieron obtener los centros de formacion, trate nuevamente',
						timer: 3500,
						timerProgressBar: true,
					});
					this.$router.push({ name: 'Home' });
				}
			} catch (error) {
				const requestException: AxiosError = error;
				if (requestException.response?.status)
					await Swal.fire({
						icon: 'error',
						title: 'Error',
						text: `Ocurrio un error inesperado con codigo ${requestException.response?.status}, trate nuevamente`,
						timerProgressBar: true,
						timer: 2500,
					});
				else console.error(error);
			}
		},
	},
});
</script>
