<template>
	<b-container id="upload-goals-page">
		<b-row class="my-5 p-md-5" align-content="center" align-h="center" align-v="center">
			<b-col>
				<b-card bg-variant="white" text-variant="dark" class="shadow">
					<b-card-header header-bg-variant="white">
						<h1 class="text-left">
							<fa-icon :icon="['fas', formIcon]"></fa-icon>
							Cargar metas de {{ formTitle }}
						</h1>
						<h3 class="text-center text-muted">
							<fa-icon :icon="['fas', 'calendar-alt']"></fa-icon>
							{{ validity.name }}
						</h3>
					</b-card-header>
					<b-card-body body-bg-variant="white">
						<b-container fluid>
							<b-row align-content="center" align-h="center" align-v="center" class="my-3 py-2">
								<b-col>
									<b-alert variant="info" show>
										<h4 class="alert-heading">
											<fa-icon :icon="['fas', 'info']"></fa-icon>
											Tiempo de carga
										</h4>
										<hr />
										El tiempo de la carga de metas puede variar de entre 1 minuto a 6 minutos, dependiendo del archivo cargado y las comprobaciones de la
										informacion, se recomienda no recargar la pagina o interrumpir el proceso de cargue
									</b-alert>
								</b-col>
							</b-row>
							<ValidationObserver ref="observer" #default="{ handleSubmit, invalid }" slim>
								<b-form @submit.prevent="handleSubmit(submitUpload)">
									<b-row align-content="center" align-h="center" align-v="center" class="my-2 py-2">
										<b-col>
											<ValidationProvider #default="{errors, valid, validate}" :rules="{ required: true, ext: ['xls', 'xlsx'] }" name="Matriz de metas">
												<b-form-group label="Matriz de metas" description="Escoja y cargue el formato de metas" label-for="goal-file-input">
													<b-form-file
														id="goal-file-input"
														v-model="uploadForm.file"
														browse-text="Buscar Formato"
														accept=".xls, .xlsx"
														placeholder="Elija su formato de metas"
														drop-placeholder="Arrastre aqui su formato"
														:state="isValid(errors, valid)"
														@change="validate"
													>
													</b-form-file>
													<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
												</b-form-group>
											</ValidationProvider>
										</b-col>
									</b-row>
									<b-row align-content="center" align-h="center" align-v="center" class="mt-4 mb-1 text-center">
										<b-col md="8">
											<b-button v-show="!invalid" variant="primary" type="submit" size="lg" :disabled="isLoading" class="py-3" block>
												<h5 class="font-weight-bold mb-0">
													Cargar metas
													<fa-icon :icon="['fas', 'file-upload']"></fa-icon>
												</h5>
											</b-button>
										</b-col>
									</b-row>
								</b-form>
							</ValidationObserver>
						</b-container>
					</b-card-body>
				</b-card>
			</b-col>
		</b-row>
	</b-container>
</template>
<script lang="ts">
import Vue from 'vue';
import Axios from '@/components/tools/axios';
import Swal from 'sweetalert2';
import { mapState } from 'vuex';
import { AxiosError } from 'axios';
import { isValid } from '@/components/tools/util/Functions';
import { ValidationObserver, ValidationProvider } from 'vee-validate';
export default Vue.extend({
	name: 'UploadGoals',
	components: {
		ValidationObserver,
		ValidationProvider,
	},
	data: function() {
		return {
			target: this.$route.params?.target,
			uploadForm: {
				file: null as unknown,
			},
		};
	},
	computed: {
		...mapState(['isLoading', 'validity']),
		formIcon: function(): string {
			let icon: string;
			switch (this.target) {
				case 'populations':
					icon = 'users';
					break;

				case 'schools':
					icon = 'school';
					break;

				case 'formation':
					icon = 'graduation-cap';
					break;

				default:
					icon = 'users';
					break;
			}
			return icon;
		},
		formTitle: function(): string {
			let title: string;
			switch (this.target) {
				case 'populations':
					title = 'Poblaciones vulnerables';
					break;

				case 'schools':
					title = 'Articulacion con la media';
					break;

				case 'formation':
					title = 'Formacion titulada';
					break;

				default:
					title = 'Metas';
					break;
			}
			return title;
		},
	},
	methods: {
		isValid: function(errors: string[], valid: boolean | undefined) {
			return isValid(errors, valid);
		},
		submitUpload: async function() {
			try {
				const file: File = this.uploadForm.file as File;
				const form = new FormData();
				form.append('matrix', file);
				form.append('target', this.$route.params?.target);
				const { data } = await Axios.post('api/goal/uploadData', form, {
					headers: {
						'Content-Type': 'multipart/form-data',
					},
				});
				if (data.success) {
					await Swal.fire({
						icon: 'success',
						title: 'Exito',
						text: `Se cargaron las metas para ${this.formTitle} correctamente`,
						timerProgressBar: true,
						timer: 3000,
					});
				} else {
					await Swal.fire({
						icon: 'warning',
						title: 'Error',
						text: `No se pudieron cargar las metas para ${this.formTitle}, por favor trate nuevamente`,
						timerProgressBar: true,
						timer: 3000,
					});
				}
			} catch (error) {
				const requestException: AxiosError = error;
				if (requestException.response?.status)
					await Swal.fire({
						icon: 'error',
						title: 'Error',
						text: `Ocurrio un error inesperado con codigo ${requestException.response?.status}, trate nuevamente`,
						timerProgressBar: true,
						timer: 2500,
					});
				else console.error(error);
			}
		},
	},
});
</script>
