<template>
	<div id="navigation">
		<b-navbar v-if="authState" id="top-navigation" toggleable="md" variant="light" class="shadow">
			<b-navbar-brand :to="{ name: 'Home' }">
				<b-container fluid>
					<b-row align-content="center" align-v="center" align-h="center">
						<b-col class="vdiv text-center">
							<b-img id="logo" :src="require('@/assets/img/LogoSena.png')"></b-img>
						</b-col>
						<b-col class="text-center">
							<p class="font-weight-bold text-uppercase my-0 text-primary">
								Gestor de metas
							</p>
						</b-col>
					</b-row>
				</b-container>
			</b-navbar-brand>

			<b-navbar-toggle class="w-100" target="navbar-toggle-collapse">
				<template v-slot:default="{ expanded }">
					<b-icon v-if="expanded" icon="chevron-bar-up"></b-icon>
					<b-icon v-else icon="chevron-bar-down"></b-icon>
				</template>
			</b-navbar-toggle>

			<b-collapse id="navbar-toggle-collapse" is-nav>
				<b-navbar-nav class="ml-auto text-center">
					<b-nav-item-dropdown right>
						<template v-slot:button-content>
							<fa-icon :icon="['fas', 'user']"></fa-icon>
							{{ authUser.name }}
						</template>
						<b-dropdown-item class="text-center" :to="{ name: 'ChangePassword' }">
							Cambiar Contraseña
						</b-dropdown-item>
						<b-dropdown-divider></b-dropdown-divider>
						<b-dropdown-item class="text-center">
							<b-button variant="outline-danger" @click="signOut(true)">
								Cerrar Sesion
								<fa-icon :icon="['fas', 'sign-out-alt']"></fa-icon>
							</b-button>
						</b-dropdown-item>
					</b-nav-item-dropdown>
					<b-button v-b-toggle.navigation-right class="mx-2" variant="outline-primary">
						<fa-icon :icon="['fa', 'bars']"></fa-icon>
					</b-button>
				</b-navbar-nav>
			</b-collapse>
		</b-navbar>
		<b-sidebar v-if="authState" id="navigation-right" title="GESTOR DE METAS" bg-variant="light" text-variant="dark" left shadow>
			<div class="px-3 py-2">
				<h6 class="text-left">
					<fa-icon :icon="['fas', 'check']"></fa-icon>
					{{ authRole.display }}
				</h6>
				<hr class="w-75 bg-white" />
				<b-nav vertical pills align="center" fill>
					<b-nav-item :to="{ name: 'Home' }">
						<fa-icon :icon="['fas', 'home']"></fa-icon>
						Inicio
					</b-nav-item>
					<b-nav-item-dropdown>
						<template v-slot:button-content>
							<fa-icon :icon="['fas', 'user']"></fa-icon>
							Perfil
						</template>
						<b-dropdown-item :to="{ name: 'ChangePassword' }">
							<fa-icon :icon="['fas', 'user-lock']"></fa-icon>
							Cambiar Contraseña
						</b-dropdown-item>
					</b-nav-item-dropdown>
					<b-nav-item v-if="authRole.name === 'admin'" :to="{ name: 'Validities' }">
						<fa-icon :icon="['fas', 'calendar-alt']"></fa-icon>
						Vigencias
					</b-nav-item>
					<b-nav-item-dropdown v-if="authRole.name !== 'reguser'">
						<template v-slot:button-content>
							<fa-icon :icon="['fas', 'file-upload']"></fa-icon>
							Carga de metas
						</template>
						<b-dropdown-item :to="{ name: 'UploadGoals', params: { target: 'populations' } }">
							<fa-icon :icon="['fas', 'users']"></fa-icon>
							Poblaciones vulnerables
						</b-dropdown-item>
						<b-dropdown-item :to="{ name: 'UploadGoals', params: { target: 'schools' } }">
							<fa-icon :icon="['fas', 'school']"></fa-icon>
							Articulacion con la media
						</b-dropdown-item>
						<b-dropdown-item :to="{ name: 'UploadGoals', params: { target: 'formation' } }">
							<fa-icon :icon="['fas', 'graduation-cap']"></fa-icon>
							Formacion titulada
						</b-dropdown-item>
					</b-nav-item-dropdown>
					<b-nav-item-dropdown v-if="authRole.name === 'reguser'">
						<template v-slot:button-content>
							<fa-icon :icon="['fas', 'stream']"></fa-icon>
							Desagegacion de metas
						</template>
						<b-dropdown-item :to="{ name: 'PopulationGoals' }">
							<fa-icon :icon="['fas', 'users']"></fa-icon>
							Poblaciones vulnerables
						</b-dropdown-item>
						<b-dropdown-item :to="{ name: 'TechnicalGoals' }">
							<fa-icon :icon="['fas', 'school']"></fa-icon>
							Articulacion con la media
						</b-dropdown-item>
						<b-dropdown-item :to="{ name: 'FormationGoals' }">
							<fa-icon :icon="['fas', 'graduation-cap']"></fa-icon>
							Formacion titulada
						</b-dropdown-item>
					</b-nav-item-dropdown>
					<b-nav-item v-if="authRole.name === 'reguser'" :to="{ name: 'Budget' }">
						<fa-icon :icon="['fas', 'money-bill-wave']"></fa-icon>
						Presupuestacion
					</b-nav-item>
					<b-nav-item v-if="authRole.name !== 'reguser'" :to="{ name: 'Exports' }">
						<fa-icon :icon="['fas', 'file-export']"></fa-icon>
						Reportes
					</b-nav-item>
				</b-nav>
			</div>
		</b-sidebar>
	</div>
</template>
<script lang="ts">
import Vue from 'vue';
import { mapActions, mapState } from 'vuex';
export default Vue.extend({
	name: 'Navigation',
	computed: {
		...mapState(['authState', 'authUser', 'authRole']),
	},
	methods: {
		...mapActions(['signOut']),
	},
});
</script>
<style lang="scss" scoped>
#logo {
	width: 5rem;
	height: 5rem;
}

@media (min-width: 768px) {
	.vdiv {
		border-right: 2px solid #565656;
	}
}
</style>
