<template>
	<div id="app">
		<b-overlay id="loadOverlay" :show="isLoading" spinner-variant="primary" variant="dark" opacity="0.80">
			<transition name="navigation-transition" enter-active-class="animate__animated animate__fadeInDown" leave-active-class="animate__animated animate_fadeOutUp">
				<navigation></navigation>
			</transition>
			<transition
				name="view-transition"
				enter-active-class="animate__animated animate__fadeInRight"
				leave-active-class="animate__animated animate__fadeOutLeft"
				mode="out-in"
			>
				<router-view :key="$route.path" />
			</transition>
		</b-overlay>
	</div>
</template>
<script lang="ts">
import Vue from 'vue';
import Navigation from '@/components/Navigation.vue';
import { mapState } from 'vuex';
import VueRouter from 'vue-router';
export default Vue.extend({
	name: 'Application',
	components: { Navigation },
	computed: {
		...mapState(['isLoading', 'authState']),
	},
	watch: {
		authState: function(newState) {
			if (newState) (this.$router as VueRouter).push({ name: 'Home' });
			else (this.$router as VueRouter).push({ name: 'Login' });
		},
	},
});
</script>
