<template>
	<b-container id="home-page">
		<b-row class="my-5 p-md-5" align-content="center" align-h="center" align-v="center">
			<b-col>
				<b-card bg-variant="white" text-variant="dark" class="shadow">
					<b-card-header header-bg-variant="white">
						<h1 class="text-left">
							<fa-icon :icon="['fas', 'calendar-alt']"></fa-icon>
							Gestion de Vigencias
						</h1>
					</b-card-header>
					<b-card-body body-bg-variant="white">
						<b-card-title class="text-center"></b-card-title>

						<b-container id="management-container">
							<b-row align-content="center" align-h="center" align-v="center" class="my-3 py-2">
								<b-col>
									<b-card bg-variant="white" text-variant="dark" class="shadow">
										<b-card-header header-bg-variant="white">
											<h3 class="text-center font-weight-bold">
												Gestion de vigencia actual
											</h3>
										</b-card-header>
										<b-card-body body-bg-variant="white">
											<b-card-title class="text-center">Seleccione la vigencia que estara activa en la aplicación</b-card-title>
											<b-container>
												<b-row align-content="center" align-h="center" align-v="center" class="my-3 py-2">
													<b-col>
														<b-alert variant="warning" show>
															<h4 class="alert-heading">
																<fa-icon :icon="['fas', 'info']"></fa-icon>
																Cambio de Vigencia
															</h4>
															<hr />
															<p>
																El cambio de vigencia
																<strong>
																	puede llegar a modificar los resultados de operaciones como la desagregación y carga de metas, o la solicitud
																	presupuestal
																</strong>
																si se realiza mientras estos procesos se llevan a cabo. Se recomienda
																<strong> hacerlo unicamente despues del fin / cierre de la vigencia en curso.</strong>
															</p>
														</b-alert>
													</b-col>
												</b-row>
												<b-row align-content="center" align-h="center" align-v="center" class="my-3 py-2">
													<b-col>
														<b-form-select v-if="validities !== null" v-model="selected" class="mb-3" size="lg">
															<template #first>
																<b-form-select-option disabled :value="null">Seleccione una vigencia</b-form-select-option>
															</template>
															<template v-for="(validityItem, index) in validities">
																<b-form-select-option v-show="validityItem.id != validity.id" :key="`${index}-validity`" :value="validityItem.id">
																	{{ validityItem.id != validity.id ? validityItem.name : `Actual ${validityItem.name}` }}
																</b-form-select-option>
															</template>
														</b-form-select>
														<b-alert v-else variant="warning" show>
															<h4 class="alert-heading">
																<fa-icon :icon="['fas', 'info']"></fa-icon>
																No hay vigencias disponibles
															</h4>
															<hr />
															<p>
																No se ha terminado de listar o No se encontraron vigencias suficientes para listar, espere un momento o trate
																nuevamente
															</p>
														</b-alert>
													</b-col>
													<b-col v-if="selected !== null && selectedValidity !== null" :key="selected">
														<b-card bg-variant="white" text-variant="dark" class="shadow">
															<b-card-header header-bg-variant="white">
																<h3 class="text-center font-weight-bold">
																	Información de la vigencia
																</h3>
															</b-card-header>
															<b-card-body body-bg-variant="white">
																<b-container>
																	<b-row align-content="center" align-h="center" align-v="center" class="my-3 py-2">
																		<b-col>
																			<p class="text-left">
																				Fecha de Inicio
																			</p>
																		</b-col>
																		<b-col>
																			<p class="text-left">
																				{{ selectedValidity.start_date }}
																			</p>
																		</b-col>
																	</b-row>
																	<b-row align-content="center" align-h="center" align-v="center" class="my-3 py-2">
																		<b-col>
																			<p class="text-left">
																				Fecha de Cierre propuesta o Registrada
																			</p>
																		</b-col>
																		<b-col>
																			<p class="text-left">
																				{{ selectedValidity.end_date }}
																			</p>
																		</b-col>
																	</b-row>
																	<b-row align-content="center" align-h="center" align-v="center" class="my-3 py-2">
																		<b-col>
																			<p class="text-left">
																				Duracion en meses
																			</p>
																		</b-col>
																		<b-col>
																			<p class="text-left">
																				{{ selectedValidity.duration }}
																			</p>
																		</b-col>
																	</b-row>
																</b-container>
															</b-card-body>
														</b-card>
													</b-col>
												</b-row>
												<b-row
													v-if="selected !== null && selectedValidity !== null"
													align-content="center"
													align-h="center"
													align-v="center"
													class="my-3 py-2"
												>
													<b-col>
														<b-button variant="outline-primary" size="lg" block @click.prevent="submitChange()">
															<fa-icon :icon="['fas', 'sync-alt']"></fa-icon>
															Cambiar Vigencia Actual
														</b-button>
													</b-col>
												</b-row>
											</b-container>
										</b-card-body>
									</b-card>
								</b-col>
							</b-row>
						</b-container>
					</b-card-body>
				</b-card>
			</b-col>
		</b-row>
	</b-container>
</template>

<script lang="ts">
import Vue from 'vue';
import Axios from '@/components/tools/axios';
import Swal from 'sweetalert2';
import _ from 'lodash';
import { AxiosError } from 'axios';
import { mapState, mapActions } from 'vuex';

interface ApiResponseObject extends Object {
	id: number;
}

interface Validity extends ApiResponseObject {
	name: string;
	duration: number;
	start_date: string;
	end_date: string;
	can_load: boolean;
	can_view: boolean;
}

export default Vue.extend({
	name: 'ValidityManagement',
	data: function() {
		return {
			validities: null as Array<Validity> | null,
			selectedValidity: null as Validity | null,
			selected: null as number | null,
		};
	},
	computed: {
		...mapState(['validity']),
	},
	watch: {
		selected: function(value) {
			const validity = _.find(this.validities, { id: value });
			if (!_.isUndefined(validity)) {
				// eslint-disable-next-line @typescript-eslint/camelcase
				validity.start_date = new Date(validity.start_date).toDateString();
				// eslint-disable-next-line @typescript-eslint/camelcase
				validity.end_date = new Date(validity.end_date).toDateString();
				this.selectedValidity = validity;
			}
		},
	},
	mounted: async function() {
		await this.fetchValidities();
	},
	methods: {
		...mapActions(['syncUser']),
		fetchValidities: async function() {
			try {
				const { data } = await Axios.get('api/validities/all');
				const { success, validities }: { success: boolean; validities: Array<Validity> } = data;
				if (success) {
					this.validities = validities;
				} else {
					await Swal.fire({
						icon: 'error',
						title: 'Error !',
						text: 'No se pudieron obtener las vigencias, trate nuevamentes',
						timer: 3500,
						timerProgressBar: true,
					});
				}
			} catch (error) {
				const requestException: AxiosError = error;
				if (requestException.response?.status)
					await Swal.fire({
						icon: 'error',
						title: 'Error',
						text: `Ocurrio un error inesperado con codigo ${requestException.response?.status}, trate nuevamente`,
						timerProgressBar: true,
						timer: 2500,
					});
				else console.error(error);
			}
		},
		submitChange: async function() {
			try {
				const result = await Swal.fire({
					icon: 'question',
					title: 'Cambio de Vigencia',
					text: `Desea cambiar la vigencia actual a la ${this.selectedValidity?.name} ?
					Tenga en cuenta que si hace esto mientras aun se esten relizando procesos de desagregación o solicitud presupuestal, peude llegar a causar conflictos o errores inesperados en estos y otros procesos relacionados`,
					showDenyButton: true,
					showCancelButton: false,
					confirmButtonText: `Si`,
					denyButtonText: `No`,
					confirmButtonColor: '#dc3545',
					denyButtonColor: '#007bff',
				});
				if (result.isConfirmed) {
					const { data } = await Axios.get(`api/validities/${this.selected}/change`);
					const { success }: { success: boolean } = data;
					if (success) {
						await Swal.fire({
							icon: 'success',
							title: 'Exito !',
							text: `La vigencia actual ahora es la ${this.selectedValidity?.name}`,
							timer: 3500,
							timerProgressBar: true,
						});
						await this.syncUser();
						this.$router.push({ name: 'Home' });
					} else {
						await Swal.fire({
							icon: 'error',
							title: 'Error !',
							text: 'No se pudo realizar el cambio de vigencia actual, trate nuevamente',
							timer: 3500,
							timerProgressBar: true,
						});
					}
				}
			} catch (error) {
				const requestException: AxiosError = error;
				if (requestException.response?.status)
					await Swal.fire({
						icon: 'error',
						title: 'Error',
						text: `Ocurrio un error inesperado con codigo ${requestException.response?.status}, trate nuevamente`,
						timerProgressBar: true,
						timer: 2500,
					});
				else console.error(error);
			}
		},
	},
});
</script>
