<template>
	<b-container id="change-page">
		<b-row class="my-5 p-md-5" align-content="center" align-h="center" align-v="center">
			<b-col>
				<b-card bg-variant="white" text-variant="dark" class="shadow">
					<b-card-header header-bg-variant="white">
						<h1 class="text-left">
							<fa-icon :icon="['fas', 'user-lock']"></fa-icon>
							Cambiar Contraseña
						</h1>
					</b-card-header>
					<b-card-body body-bg-variant="white">
						<b-container fluid>
							<ValidationObserver ref="observer" #default="{ handleSubmit }" slim>
								<b-form @submit.prevent="handleSubmit(submitChange)">
									<b-row align-content="center" align-h="center" align-v="center" class="my-2 py-2">
										<b-col>
											<ValidationProvider #default="{errors, valid}" :rules="{ required: true, alpha_num: true }" name="Contraseña actual">
												<b-form-group label="Contraseña actual" description="Escriba su contraseña actual" label-for="now-pass-input">
													<b-form-input
														id="now-pass-input"
														v-model="changeForm.now"
														placeholder="ej. xkm455g3"
														type="password"
														:state="isValid(errors, valid)"
													></b-form-input>
													<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
												</b-form-group>
											</ValidationProvider>
										</b-col>
									</b-row>
									<b-row align-content="center" align-h="center" align-v="center" class="my-2 py-2">
										<b-col>
											<ValidationProvider #default="{errors, valid}" :rules="{ required: true, alpha_num: true }" name="Nueva Contraseña" vid="newPass">
												<b-form-group label="Nueva Contraseña" description="Escriba su nueva contraseña" label-for="new-pass-input">
													<b-form-input
														id="new-pass-input"
														v-model="changeForm.new"
														placeholder="ej. xkm455g3"
														type="password"
														:state="isValid(errors, valid)"
													></b-form-input>
													<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
												</b-form-group>
											</ValidationProvider>
										</b-col>
									</b-row>
									<b-row align-content="center" align-h="center" align-v="center" class="my-2 py-2">
										<b-col>
											<ValidationProvider
												#default="{errors, valid}"
												:rules="{ required: true, alpha_num: true, confirmed: 'newPass' }"
												name="Confirmar Nueva Contraseña"
												vid="confirmPass"
											>
												<b-form-group
													label="Confirmar Nueva Contraseña"
													description="Escriba nuevamente su nueva contraseña, debe coincidir"
													label-for="confirm-pass-input"
												>
													<b-form-input
														id="confirm-pass-input"
														v-model="changeForm.confirm"
														placeholder="ej. xkm455g3"
														type="password"
														:state="isValid(errors, valid)"
													></b-form-input>
													<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
												</b-form-group>
											</ValidationProvider>
										</b-col>
									</b-row>
									<b-row align-content="center" align-h="center" align-v="center" class="mt-4 mb-1 text-center">
										<b-col md="8">
											<b-button variant="primary" type="submit" size="lg" :disabled="isLoading" class="py-3" block>
												<h5 class="font-weight-bold mb-0">
													Cambiar contraseña
													<fa-icon :icon="['fas', 'unlock-alt']"></fa-icon>
												</h5>
											</b-button>
										</b-col>
									</b-row>
								</b-form>
							</ValidationObserver>
						</b-container>
					</b-card-body>
				</b-card>
			</b-col>
		</b-row>
	</b-container>
</template>
<script lang="ts">
import Vue from 'vue';
import Swal from 'sweetalert2';
import Axios from '@/components/tools/axios';
import { isValid } from '@/components/tools/util/Functions';
import { AxiosError } from 'axios';
import { mapActions, mapState } from 'vuex';
import { ValidationObserver, ValidationProvider } from 'vee-validate';
export default Vue.extend({
	name: 'ChangePassword',
	components: {
		ValidationObserver,
		ValidationProvider,
	},
	data: function() {
		return {
			changeForm: {
				now: '',
				new: '',
				confirm: '',
			},
		};
	},
	computed: {
		...mapState(['isLoading']),
	},
	methods: {
		...mapActions(['signOut']),
		isValid: function(errors: string[], valid: boolean | undefined) {
			return isValid(errors, valid);
		},
		submitChange: async function() {
			try {
				const result = await Swal.fire({
					icon: 'question',
					title: 'Cambio de Contraseña',
					text: 'Desea cambiar su contraseña?',
					showDenyButton: true,
					showCancelButton: false,
					confirmButtonText: `Si`,
					denyButtonText: `No`,
					confirmButtonColor: '#dc3545',
					denyButtonColor: '#007bff',
				});
				if (result.isConfirmed) {
					const { data } = await Axios.post('api/changePass', this.changeForm);
					if (data.success) {
						await Swal.fire({
							icon: 'success',
							title: 'Exito',
							text: 'Se cambio la contraseña correctamente, debe volver a iniciar sesion',
							timerProgressBar: true,
							timer: 3000,
						});
						await this.signOut(false);
					} else {
						await Swal.fire({
							icon: 'warning',
							title: 'Error',
							text: 'No se pudo realizar el cambio de contraseña, por favor trate nuevamente',
							timerProgressBar: true,
							timer: 3000,
						});
					}
				}
			} catch (error) {
				const requestException: AxiosError = error;
				if (requestException.response?.status)
					await Swal.fire({
						icon: 'error',
						title: 'Error',
						text: `Ocurrio un error inesperado con codigo ${requestException.response?.status}, trate nuevamente`,
						timerProgressBar: true,
						timer: 2500,
					});
				else console.error(error);
			}
		},
	},
});
</script>
