<template>
	<b-container>
		<b-row align-content="center" align-h="center" align-v="center" class="my-5 py-5">
			<b-col class="py-1 py-md-5 px-md-5" md="10" lg="8">
				<b-card bg-variant="white" text-variant="dark" class="shadow">
					<b-card-header header-bg-variant="white" class="text-center">
						<b-img :src="require('@/assets/img/LogoSena.png')" height="128px" width="128px"></b-img>
						<h1 class="text-uppercase font-weight-bold mt-1">
							Gestor de Metas
						</h1>
					</b-card-header>

					<b-card-body class="text-center">
						<b-card-title class="text-center">
							<h3 class="text-uppercase font-weight-bold text-primary">
								Iniciar Sesion
								<fa-icon :icon="['fas', 'sign-in-alt']"></fa-icon>
							</h3>
						</b-card-title>
						<b-container class="text-left" fluid>
							<ValidationObserver ref="observer" #default="{ handleSubmit }" slim>
								<b-form @submit.prevent="handleSubmit(submitLogin)">
									<b-row align-content="center" align-h="center" align-v="center" class="my-2 py-2">
										<b-col>
											<ValidationProvider #default="{errors, valid}" :rules="{ required: true, alpha_num: true }" name="Nombre de usuario">
												<b-form-group label="Nombre de usuario" description="Escriba su nombre de usuario" label-for="username-input">
													<b-form-input
														id="username-input"
														v-model="loginForm.name"
														placeholder="ej. Reg001"
														type="text"
														:state="isValid(errors, valid)"
													></b-form-input>
													<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
												</b-form-group>
											</ValidationProvider>
										</b-col>
									</b-row>
									<b-row align-content="center" align-h="center" align-v="center" class="my-2 py-2">
										<b-col>
											<ValidationProvider #default="{errors, valid}" :rules="{ required: true, alpha_num: true }" name="Contraseña">
												<b-form-group label="Contraseña" description="Escriba su contraseña" label-for="password-input">
													<b-form-input
														id="password-input"
														v-model="loginForm.password"
														placeholder="ej. xkm455g3"
														type="password"
														:state="isValid(errors, valid)"
													></b-form-input>
													<b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
												</b-form-group>
											</ValidationProvider>
										</b-col>
									</b-row>
									<b-row align-content="center" align-h="center" align-v="center" class="mt-4 mb-1 text-center">
										<b-col md="8">
											<b-button variant="primary" type="submit" size="lg" :disabled="isLoading" class="py-3" block>
												<h5 class="font-weight-bold mb-0">
													Iniciar sesion
													<fa-icon :icon="['fas', 'sign-in-alt']"></fa-icon>
												</h5>
											</b-button>
										</b-col>
									</b-row>
								</b-form>
							</ValidationObserver>
						</b-container>
					</b-card-body>
				</b-card>
			</b-col>
		</b-row>
	</b-container>
</template>
<script lang="ts">
import Vue from 'vue';
import { isValid } from '@/components/tools/util/Functions';
import { mapActions, mapState } from 'vuex';
import { ValidationProvider, ValidationObserver } from 'vee-validate';
export default Vue.extend({
	name: 'LoginPage',
	components: {
		ValidationObserver,
		ValidationProvider,
	},
	data: function() {
		return { loginForm: { name: '', password: '', remember: false } };
	},
	computed: {
		...mapState(['isLoading']),
	},
	methods: {
		...mapActions(['signIn']),
		isValid: function(errors: string[], valid: boolean | undefined) {
			return isValid(errors, valid);
		},
		submitLogin: function() {
			this.signIn(this.loginForm);
		},
	},
});
</script>
